<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.legalAffairs.mapper.litigate.dispute.LitigateDisputeMapper">
  <resultMap id="directToVo" type="com.pcitc.legalAffairs.vo.litigate.dispute.DisputeVo">
    <id column="f_ID" jdbcType="BIGINT" property="id" />
    <result column="f_Code" jdbcType="VARCHAR" property="code"/>
    <result column="f_Name" jdbcType="VARCHAR" property="name"/>
    <result column="fk_Reported_Org_Name" jdbcType="VARCHAR" property="orgName"/>
    <result column="f_Incident_Date" jdbcType="DATE" property="date"/>
    <result column="f_Settle_Method" jdbcType="BIGINT" property="settleMethod"/>
    <result column="is_closed" jdbcType="INTEGER" property="closed"/>
    <result column="f_Is_External" jdbcType="BIGINT" property="isExternal"/>
    <result column="f_Is_Major" jdbcType="BIGINT" property="isMajor"/>
    <result column="f_Type" jdbcType="VARCHAR" property="type"/>
    <result column="f_Type_2" jdbcType="VARCHAR" property="type2"/>
    <result column="f_Type_3" jdbcType="VARCHAR" property="type3"/>
    <result column="f_Description" jdbcType="VARCHAR" property="description"/>
    <result column="f_Cause" jdbcType="VARCHAR" property="cause"/>
    <result column="f_Related_Amount" jdbcType="DECIMAL" property="relatedAmount"/>
    <result column="f_Status" jdbcType="INTEGER" property="status"/>
    <result column="ourside" jdbcType="VARCHAR" property="ourside"/>
    <result column="opposite" jdbcType="VARCHAR" property="opposite"/>
    <result column="relationCount" jdbcType="INTEGER" property="relationCount"/>
    <result column="caseCodeCount" jdbcType="INTEGER" property="caseCodeCount"/>
  </resultMap>
  
  <sql id="Base_Column_List">
    d.f_ID AS f_ID,
    d.f_Code AS f_Code,
    d.f_Name AS f_Name,
    d.fk_Reported_Org_Name AS fk_Reported_Org_Name,
    d.f_Incident_Date AS f_Incident_Date,
    d.f_Settle_Method AS f_Settle_Method,
    if(d.f_Status IN (1, 7, 8), 1, 0) AS is_closed,
    d.f_Is_External AS f_Is_External,
    d.f_Is_Major AS f_Is_Major,
    d.f_Type AS f_Type,
    d.f_Type_2 AS f_Type_2,
    d.f_Type_3 AS f_Type_3,
    d.f_Description AS f_Description,
    d.f_Status AS f_Status,
    progress.f_Cause AS f_Cause,
    d.f_Related_Amount AS f_Related_Amount,
    ourside.ourside_Name AS ourside,
    opposite.opposite_Name AS opposite,
    cnt.relationCount AS relationCount,
    cnt.caseCodeCount AS caseCodeCount
  </sql>
  
  <sql id="Ourside_Sub_Query">
  	SELECT 
  		our.fk_Dispute_ID AS fk_Dispute_ID,
  		GROUP_CONCAT(our.f_Litigant_Name SEPARATOR ', ') AS ourside_Name
  	FROM fw_litigate_dispute_ourside our 
  	WHERE 
  		our.f_IsDel = 0
  	GROUP BY
  		our.fk_Dispute_ID
  </sql>
  
  <sql id="Opposite_Sub_Query">
  	SELECT 
  		oppo.fk_Dispute_ID AS fk_Dispute_ID,
  		GROUP_CONCAT(oppo.f_Name SEPARATOR ', ') AS opposite_Name
  	FROM fw_litigate_dispute_opposite oppo 
  	WHERE 
  		oppo.f_IsDel = 0
  	GROUP BY
  		oppo.fk_Dispute_ID
  </sql>
  
  <sql id="Progress_Sub_Query">
  	SELECT 
  		prog.fk_Dispute_ID AS fk_Dispute_ID,
  		GROUP_CONCAT(DISTINCT CONCAT_WS(',', f_Cause_1, f_Cause_2, f_Cause_3, f_Cause_4) SEPARATOR ',') AS f_Cause
  	FROM fw_litigate_dispute_progress AS prog
  	WHERE
  		prog.f_IsDel = 0
  	GROUP BY
  		prog.fk_Dispute_ID
  </sql>
  <sql id="Cnt_Sub_Query">
  	SELECT 
  		rel.fk_Dispute_ID AS fk_Dispute_ID,
  		COUNT(1) AS relationCount,
  		COUNT(IF((
  			SELECT 
  				IF(relDispute.f_Case_Code IS NULL OR relDispute.f_Case_Code = '', NULL, relDispute.f_Case_Code) 
  			FROM fw_litigate_dispute AS relDispute 
  			WHERE relDispute.f_ID = rel.fk_Related_ID AND relDispute.f_IsDel = 0
  		) IS NULL, NULL, 1)) AS caseCodeCount
  	FROM fw_litigate_dispute_relation AS rel
  	WHERE 
  		rel.f_IsDel = 0
  	GROUP BY
  		rel.fk_Dispute_ID
  </sql>
  <select 
  	id="searchData" 
  	parameterType="com.pcitc.legalAffairs.bo.litigate.dispute.DisputeSearchBo" 
  	resultMap="directToVo"
  >

  	SELECT  
  		<include refid="Base_Column_List"/>
  	FROM fw_litigate_dispute AS d 
    LEFT JOIN (<include refid="Ourside_Sub_Query"/>) AS ourside ON 
      ourside.fk_Dispute_ID = d.f_ID
    LEFT JOIN (<include refid="Opposite_Sub_Query"/>) AS opposite ON
      opposite.fk_Dispute_ID = d.f_ID
    LEFT JOIN (<include refid="Progress_Sub_Query"/>) AS progress ON
    	progress.fk_Dispute_ID = d.f_ID
    LEFT JOIN (<include refid="Cnt_Sub_Query"/>) AS cnt ON 
    	cnt.fk_Dispute_ID = d.f_ID
  	<where>
  		d.f_IsDel = 0
      <if test="bo.orgId != null">
        AND d.fk_Reported_Org_ID = #{bo.orgId }
      </if>
      <if test="bo.status != null">
        AND d.f_Status = #{bo.status }
      </if>
      <if test="bo.name != null">
      	<bind name="name" value="'%' + bo.name + '%'" />
        AND d.f_Name LIKE #{name }
      </if>
      <if test="bo.code != null">
		<bind name="code" value="'%' + bo.code + '%'" />
        AND d.f_Code LIKE #{code }
      </if>
      <choose>
        <when test="bo.settled == 0">
          AND d.f_Status IN (1, 7, 8)
        </when>
        <when test="bo.settled == 1">
          AND d.f_Status NOT IN (1, 7, 8)
        </when>
      </choose>
      <if test="bo.isForeignRelated != null">
        AND d.f_Is_Foreign_Related = #{bo.isForeignRelated }
      </if>
      <if test="bo.begindate != null">
        AND d.f_Incident_Date <![CDATA[>=]]> #{bo.begindate }
      </if>
      <if test="bo.enddate != null">
        AND d.f_Incident_Date <![CDATA[<=]]> #{bo.enddate }
      </if>
      <if test="bo.type != null">
        AND d.f_Type = #{bo.type }
      </if>
      <if test="bo.isExternal != null">
        AND d.f_Is_External = #{bo.isExternal }
      </if>
      <if test="bo.settleMethod != null">
        AND d.f_Settle_Method = #{bo.settleMethod }
      </if>
      <if test="bo.oursideName != null or bo.agencyName != null">
        AND d.f_ID IN (
          SELECT ooo.fk_Dispute_Id 
          FROM fw_litigate_dispute_ourside AS ooo
          WHERE ooo.f_IsDel = 0
          <if test="bo.oursideName != null">
              <bind name="oursideName" value="'%' + bo.oursideName + '%'" />
              AND ooo.f_Litigant_Name LIKE #{oursideName }
          </if>
          <if test="bo.agencyName != null">
            <bind name="agencyName" value="'%' + bo.agencyName + '%'" />
            AND ooo.fk_Org_Name LIKE #{agencyName }
          </if>
        )
      </if>
      <if test="bo.oppositeName != null">
        <bind name="oppositeName" value="'%' + bo.oppositeName + '%'" />
        AND d.f_ID IN (
          SELECT oppo.fk_Dispute_ID
          FROM fw_litigate_dispute_opposite AS oppo
          WHERE oppo.f_IsDel = 0
          AND oppo.f_Name LIKE #{oppositeName}
        )
      </if>
      <if test="bo.receivingAgency != null or bo.step != null or bo.progressStatus != null">
        AND d.f_ID IN (
          SELECT prog.fk_Dispute_ID 
          FROM fw_litigate_dispute_progress AS prog
          WHERE prog.f_IsDel = 0
          <if test="bo.receivingAgency != null">
            AND prog.f_Receiving_Agency = #{bo.receivingAgency }
          </if>
          <if test="bo.step != null">
            AND prog.f_Step = #{bo.step }
          </if>
          <if test="bo.progressStatus != null">
            AND prog.f_Status = #{bo.progressStatus }
          </if>
        )
      </if>
      <if test="bo.closeDateBegin != null">
        AND d.f_Settle_Date <![CDATA[>=]]> #{bo.closeDateBegin }
      </if>
      <if test="bo.closeDateEnd != null">
        AND d.f_Settle_Date <![CDATA[<=]]> #{bo.closeDateEnd }
      </if>
      <if test="bo.relatedAmountMin != null">
        AND d.f_Related_Amount <![CDATA[>=]]> #{bo.relatedAmountMin }
      </if>
      <if test="bo.relatedAmountMax != null">
        AND d.f_Related_Amount <![CDATA[<=]]> #{bo.relatedAmountMax }
      </if>
      <if test="bo.estimatedLossAmountMin != null">
        AND d.f_Estimated_Loss_Amount <![CDATA[>=]]> #{bo.estimatedLossAmountMin }
      </if>
      <if test="bo.estimatedLossAmountMax != null">
        AND d.f_Estimated_Loss_Amount <![CDATA[<=]]> #{bo.estimatedLossAmountMax }
      </if>
      <if test="bo.isDebtCollection != null">
        AND d.f_Is_Debt_Collection = #{bo.isDebtCollection }
      </if>
      <if test="bo.isCriminalInvolved != null">
        AND d.f_Is_Criminal_Involved = #{bo.isCriminalInvolved }
      </if>
      <if test="bo.lossRecoveredMin != null or bo.lossRecoveredMax != null or bo.lossAvoidedMin != null or bo.lossAvoidedMax != null">
        AND d.f_ID IN (
          SELECT sed.fk_Dispute_ID 
          FROM fw_litigate_dispute_settled AS sed
          WHERE sed.f_IsDel = 0
          <if test="bo.lossRecoveredMin != null">
            AND sed.f_Loss_Recovered <![CDATA[>=]]> #{bo.lossRecoveredMin }
          </if>
          <if test="bo.lossRecoveredMax != null">
            AND sed.f_Loss_Recovered <![CDATA[<=]]> #{bo.lossRecoveredMax }
          </if>
          <if test="bo.lossAvoidedMin != null">
            AND sed.f_Loss_Avoided <![CDATA[>=]]> #{bo.lossAvoidedMin }
          </if>
          <if test="bo.lossAvoidedMax != null">
            AND sed.f_Loss_Avoided <![CDATA[<=]]> #{bo.lossAvoidedMax }
          </if>
        )
      </if>
      <choose>
        <when test="bo.isDiscarded != null">
          AND d.f_Is_Discard = #{bo.isDiscarded }
        </when>
        <otherwise>
          AND d.f_Is_Discard = 0
        </otherwise>
      </choose>
      AND (d.fk_Reported_Org_ID IN 
      <foreach collection="bo.orgList" index="index" item="item" open="(" separator="," close=")">
      	#{item}
      </foreach>
      <if test="bo.privilegeOrgIds != null and bo.privilegeOrgIds.size() > 0">
        OR d.fk_Reported_Org_ID IN
        <foreach collection="bo.privilegeOrgIds" item="item" index="index" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      )
    </where>
  </select>
</mapper>