<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.system.mapper.SysDocMenuWdpMapper">
    
    <resultMap type="com.oo.system.api.domain.SysDocMenuWdp" id="SysDocMenuWdpResult">
        <result property="id" column="id"/>
        <result property="wdpName" column="wdp_name"/>
        <result property="parentId" column="parent_id"/>
        <result property="orderNum" column="order_num"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectSysDocMenuWdpVo">
        select id, wdp_name, parent_id, order_num, create_by, create_time, update_by, update_time, remark from sys_doc_menu_wdp
    </sql>

    <select id="selectSysDocMenuWdpList" resultMap="SysDocMenuWdpResult">
        <include refid="selectSysDocMenuWdpVo"/>
        <!-- <where>
             <if test="wdpName != null  and wdpName != ''"> and wdp_name like concat('%', #{wdpName}, '%')</if>
             <if test="parentId != null  and parentId != 0"> and parent_id = #{parentId}</if>
             <if test="orderNum != null "> and order_num = #{orderNum}</if>
         </where>-->
    </select>

    <select id="selectSysDocMenuWdpNameList" parameterType="SysDocMenuWdp" resultMap="SysDocMenuWdpResult">
        <include refid="selectSysDocMenuWdpVo"/>
       <where>
            <if test="wdpName != null  and wdpName != ''"> and wdp_name like concat('%', #{wdpName}, '%')</if>
        </where>
    </select>

    <insert id="insertDocMenuWdp" parameterType="SysDocMenuWdp" useGeneratedKeys="true" keyProperty="id">
        insert into sys_doc_menu_wdp(
        <trim suffixOverrides=",">
            <if test="id != null and id != 0">id,</if>
            <if test="wdpName != null and wdpName != ''">wdp_name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="orderNum != null and orderNum != ''">order_num,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="remark != null and remark != ''">remark,</if>
            create_time
        </trim>
        )values(
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="wdpName != null and wdpName != ''">#{wdpName},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="orderNum != null and orderNum != ''">#{orderNum},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            sysdate()
        </trim>
        )
    </insert>

    <update id="updateDocMenuWdp" parameterType="SysDocMenuWdp">
        update sys_doc_menu_wdp
        <trim prefix="set" suffixOverrides="," suffix="where id = #{id}">
            <if test="wdpName != null and wdpName != ''">wdp_name = #{wdpName},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="orderNum != null ">order_num = #{orderNum},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
    </update>

    <delete id="deleteMenuWdpById" parameterType="Long">
        delete from sys_doc_menu_wdp where id = #{id}
    </delete>

    <delete id="deleteMenuWdpByIds" parameterType="Long">
        delete from sys_doc_menu_wdp where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>