<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.legalAffairs.mapper.authorize.AuthorizeInfoMapper">
    <resultMap id="directToVo" type="com.pcitc.legalAffairs.vo.authorize.AuthorizeInfoVo">
        <id column="f_ID" jdbcType="BIGINT" property="id"/>
        <result column="f_Serial_No" jdbcType="VARCHAR" property="serialNo"/>
        <result column="f_Authorization_No" jdbcType="VARCHAR" property="authorizationNo"/>
        <result column="f_Work_Flow_Id" jdbcType="INTEGER" property="workFlowId"/>
        <result column="f_Authorizer_Property" jdbcType="VARCHAR" property="authorizerProperty"/>
        <result column="fk_Authorizer_Name" jdbcType="VARCHAR" property="authorizerName"/>
        <result column="fk_Licensee_Name" jdbcType="VARCHAR" property="licenseeName"/>
        <result column="fk_Manager_Name" jdbcType="VARCHAR" property="managerName"/>
        <result column="f_Type" jdbcType="VARCHAR" property="authorizeType"/>
        <result column="f_Authorize_Limit" jdbcType="VARCHAR" property="authorizeLimit"/>
        <result column="f_Apply_Time" jdbcType="DATETIMEOFFSET" property="applyDate"/>
    </resultMap>
    
    <sql id="Select_Column">
        a.f_ID AS f_ID,
        a.f_Serial_No AS f_Serial_No,
        a.f_Authorization_No AS f_Authorization_No,
        a.f_Work_Flow_Id AS f_Work_Flow_Id,
        a.fk_Authorizer_Org_Type AS f_Authorizer_Property,
        a.fk_Authorizer_Name AS fk_Authorizer_Name,
        a.f_Licensee_Name AS fk_Licensee_Name,
        a.f_Manager_Name AS fk_Manager_Name,
        a.f_Type AS f_Type,
        a.f_Authorize_Limit AS f_Authorize_Limit,
        a.f_Apply_Time AS f_Apply_Time
    </sql>

    <select 
        id="getPageByConditions"
        parameterType="com.pcitc.legalAffairs.bo.authorize.AuthorizeQueryBo"
        resultMap="directToVo"
    >
        SELECT 
            <include refid="Select_Column"/>
        FROM fw_authorize_info AS a
        WHERE a.f_isDel = 0
        <if test="bo.authorizerName != null">
            <bind name="authorizerName" value="'%' + bo.authorizerName + '%'"/>
            AND a.fk_Authorizer_Name LIKE #{authorizerName }
        </if>
        <if test="bo.licenseeName != null">
            <bind name="licenseeName" value="'%' + bo.licenseeName + '%'"/>
            AND a.f_Licensee_Name LIKE #{licenseeName }
        </if>
        <if test="bo.managerName != null">
            <bind name="managerName" value="'%' + bo.managerName + '%'"/>
            AND a.f_Manager_Name LIKE #{managerName }
        </if>
        <if test="bo.authorizeType != null">
            AND a.f_Type = #{bo.authorizeType }
        </if>
        <if test="bo.workFlowId != null">
            AND a.f_Work_Flow_Id = #{bo.workFlowId }
        </if>
        <if test="bo.applyDateBegin != null">
            AND a.f_Apply_Time <![CDATA[>=]]> #{bo.applyDateBegin }
        </if>
        <if test="bo.applyDateEnd != null">
            AND a.f_Apply_Time <![CDATA[<=]]> #{bo.applyDateEnd }
        </if>
        <if test="bo.authorizeLimit != null">
            AND a.f_Authorize_Limit = #{bo.authorizeLimit }
        </if>
        <if test="bo.status != null">
            AND a.f_Status IN 
            <foreach collection="bo.status" item="item" index="index" open="(" separator="," close=")">
              #{item }
            </foreach>
        </if>
        <if test="bo.managerOrgId != null">
            AND a.fk_Manager_Org_ID = #{bo.managerOrgId }
        </if>
        <if test="bo.hasExercise != null">
            AND a.f_ID 
            <if test="bo.hasExercise == 0">
              NOT 
            </if>
            IN (SELECT fk_Authorize_ID FROM fw_authorize_exercise WHERE f_isDel = 0)
        </if>
        <choose>
            <when test="bo.isDiscard == null">
                AND a.f_Is_Discard = 0
            </when>
            <otherwise>
                AND a.f_Is_Discard = #{bo.isDiscard}
            </otherwise>
        </choose>
        AND a.fk_Manager_Org_Id IN 
        <foreach collection="bo.orgList" item="item" index="index" open="(" separator="," close=")">
          #{item}
        </foreach>
        <if test="bo.privilegeOrgIds != null">
            OR a.fk_Manager_Org_Id IN
            <foreach collection="bo.privilegeOrgIds" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>