<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.szgt.contract.perform.mapper.CrContractchangeMapper">
    <!--合同变更备案查询-->
    <select id="selectSealContractChange" resultType="java.util.HashMap">
        select b.ContractId,b.RuleSerialNum,b.ContractName,b.ContractNum,a.ContractchangeId,a.CCNo,a.IsSeal,b.MoneyFlow,
        b.Type1,b.Type2,b.Type3,b.Type4,b.MainOrgUserID,b.PropertyModel,b.Section,b.CreatedDate
        from cr_contractchange a
        inner join cr_contractbasic b  on a.ContractId=b.ContractId
        inner join cr_contractinfo c   on a.ContractId=c.ContractId
      ${ew.customSqlSegment}
    </select>

    <select id="getContractChange" resultType="com.pcitc.szgt.contract.perform.model.GetContractChangeVo">
        select a.ContractID, a.ContractChangeID,a.CcNo,a.Proposer,a.ChangeReason,
        b.changeType,b.ChangeValue1 as changeAmount,b.ChangeValue3 as changeNoTaxAmount,b.ChangeValue2 as changeTaxAmount
        from cr_contractchange as a, cr_contractchangedetail as b
        where a.ContractChangeID=b.ContractChangeID
        and a.ContractID = #{ContractID}
    </select>
</mapper>
