<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.szgt.contract.perform.mapper.CrContracttransferMapper">
    <!--合同转让备案查询-->
    <select id="selectSealContractTransfer" resultType="java.util.HashMap">
        select b.ContractID,b.RuleSerialNum,b.ContractName,b.ContractNum,a.TransferId,a.TransferNo,a.IsSeal,b.MoneyFlow,
        b.Type1,b.Type2,b.Type3,b.Type4,b.MainOrgUserID,b.PropertyModel,b.Section,b.CreatedDate
        from cr_contracttransfer a
        inner join cr_contractbasic b  on a.ContractId=b.ContractId
        inner join cr_contractinfo c   on a.ContractId=c.ContractId
       ${ew.customSqlSegment}
    </select>
</mapper>
