<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.szgt.contract.appmanager.mapper.AmQuerylicenseMapper">
    <select id="queryAMQueryLicense" resultType="com.pcitc.szgt.contract.appmanager.model.AmQueryLicenseResultBo">
        select UserID, GROUP_CONCAT(OrgID) as OrgIDs from AM_QueryLicense
        <where>
            <if test="queryBo.userIds != null and queryBo.userIds.size > 0">
                AND UserID in
                <foreach item="listItem" open="(" close=")" separator="," collection="queryBo.userIds">
                    #{listItem}
                </foreach>
            </if>
            <if test="queryBo.orgIds != null and queryBo.orgIds.size > 0">
                AND OrgID in
                <foreach item="listItem" open="(" close=")" separator="," collection="queryBo.orgIds">
                    #{listItem}
                </foreach>
            </if>
        </where>
        group by UserID
    </select>
</mapper>
