<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word</title>
    <script th:src="@{/jquery.min.js}"></script>
    <script th:src="@{/pageoffice.js}" id="po_js_main"></script>
</head>
<body>
    
</body>
<script th:inline="javascript">
    setTimeout(load, 500);
    function load() {
        POBrowser.openWindowModeless([[@{/authorize/print/printApprovement(id=${id})}]], "width=1440px;height=720px");
    }
</script>
</html>