<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcitc.legalAffairs.mapper.person.PersonInfoMapper">
	<resultMap id="qulificationSummary" type="com.pcitc.legalAffairs.bo.person.PersonQulificationSummaryBo">
		<result column="orglevel" jdbcType="INTEGER" property="orgLevel" />
		<result column="personnum" jdbcType="INTEGER" property="personNumber" />
		<result column="qulifnum" jdbcType="INTEGER" property="qulificationNumber" />
		<result column="qulifrate" jdbcType="DECIMAL" property="qulificationRate" />
	</resultMap>

	<select id="qulificationSummary" resultMap="qulificationSummary">
		SELECT 
			p.fk_Org_Level AS orglevel,
			pp1.person_num AS personnum,
			pp2.qulif_num AS qulifnum,
			(pp2.qulif_num / pp1.person_num) AS qulifrate
		FROM fw_person_info p 
		LEFT JOIN (
			SELECT 
				p1.fk_Org_Level AS org_level,
				COUNT(DISTINCT p1.f_ID) AS person_num
			FROM fw_person_info p1
			WHERE p1.f_IsDel = 0
			GROUP BY
				p1.fk_Org_Level
		) pp1 ON 
			p.fk_Org_Level = pp1.org_level
		LEFT JOIN (
			SELECT
				p2.fk_Org_Level AS org_level,
				COUNT(DISTINCT p2.f_ID) AS qulif_num
			FROM fw_person_info p2
			JOIN fw_person_qualification qulif ON 
				qulif.f_IsDel = 0
				AND qulif.fk_Person_ID = p2.f_ID
			WHERE p2.f_IsDel = 0
			GROUP BY
				p2.fk_Org_Level
		) pp2 ON 
			p.fk_Org_Level = pp2.org_level
		WHERE 
			p.f_IsDel = 0
		GROUP BY 
			p.fk_Org_Level
	</select>
</mapper>