<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.file.mapper.ReportFilesMapper">
    
    <resultMap type="ReportFiles" id="ReportFilesResult">
        <result property="id" column="id"/>
        <result property="fileName" column="file_name"/>
        <result property="fileFormat" column="file_format"/>
        <result property="filePath" column="file_path"/>
        <result property="fileUnitSize" column="file_unit_size"/>
        <result property="wellId" column="well_id"/>
        <result property="organizationId" column="organization_id"/>
        <result property="organizationParentId" column="organization_parent_id"/>
        <result property="projectId" column="project_id"/>
        <result property="businessId" column="business_id"/>
        <result property="wdpId" column="wdp_id"/>
        <result property="uploadTime" column="upload_time"/>
        <result property="scanBatch" column="scan_batch"/>
        <result property="rptType" column="rpt_type"/>
        <result property="rptMd5" column="rpt_md5"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
    </resultMap>

    <sql id="selectReportFilesVo">
        select id, file_name, file_format, file_path, file_unit_size, well_id, organization_id, organization_parent_id, project_id, business_id, wdp_id, upload_time, scan_batch, rpt_type, rpt_md5, remark, create_by, create_time, update_by, update_time, del_flag, del_user, del_time from dc_report_files
    </sql>

    <select id="selectReportFilesList" parameterType="ReportFiles" resultMap="ReportFilesResult">
        <include refid="selectReportFilesVo"/>
        <where>
            del_flag = '0'
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="fileFormat != null  and fileFormat != ''"> and file_format = #{fileFormat}</if>
            <if test="wellId != null  and wellId != ''"> and well_id = #{wellId}</if>
            <if test="organizationParentId != null  and organizationParentId != ''"> and organization_parent_id = #{organizationParentId}</if>
            <if test="organizationId != null  and organizationId != ''"> and organization_id = #{organizationId}</if>
            <if test="projectId != null  and projectId != ''"> and project_id = #{projectId}</if>
            <if test="businessId != null "> and business_id = #{businessId}</if>
            <if test="wdpId != null "> and wdp_id = #{wdpId}</if>
            <if test="uploadTime != null "> and upload_time = #{uploadTime}</if>
            <if test="scanBatch != null"> and scan_batch = #{scanBatch}</if>
            <if test="rptType != null  and rptType != ''"> and rpt_type = #{rptType}</if>
            <if test="rptMd5 != null  and rptMd5 != ''"> and rpt_md5 = #{rptMd5}</if>
<!--            <if test="businessIdList != null and businessIdList.size() > 0">-->
<!--                and business_id in-->
<!--                <foreach collection="businessIdList" item="businessId" index="index" open="(" close=")" separator=",">-->
<!--                    #{businessId}-->
<!--                </foreach>-->
<!--            </if>-->
        </where>
        order by upload_time desc
    </select>
    <delete id="deleteItemsByIds">
        delete from dc_report_files where id in
        <foreach item="ids" collection="array" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
</mapper>