<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.szgt.contract.make.mapper.CrContracttextMapper">
    <select id="queryStdTextCnt" resultType="com.pcitc.szgt.contract.make.modelEx.StdTextCnt">
        select count(*) as cnt, a.MainDeptID, a.MainOrgID from cr_contractbasic a,
        (select ContractID, max(CreatedDate) as mcd from cr_contracttext group by ContractID) b,
        cr_contracttext c
        where a.ContractID = b.ContractID
        and b.ContractID = c.ContractID
        and c.CreatedDate = b.mcd
        and c.TextType = 1
        and a.LogicDel = 0
        and a.CheckDate is not null
        <if test="ruleSerialNum != null and ruleSerialNum !=''">
            and a.RuleSerialNum like concat('%', #{ruleSerialNum}, '%')
        </if>
        <if test="contractNum != null and contractNum != ''">
            and a.ContractNum like concat('%', #{contractNum}, '%')
        </if>
        <if test="contractName != null and contractName != ''">
            and a.ContractName like concat('%', #{contractName}, '%')
        </if>
        <if test="mainDeptID != null and  mainDeptID != ''">
            and a.MainDeptID = #{mainDeptID}
        </if>
        group by a.MainDeptID
    </select>

    <select id="queryAllTextCnt" resultType="com.pcitc.szgt.contract.make.modelEx.StdTextCnt">
        select count(*) as cnt, a.MainDeptID, a.MainOrgID from cr_contractbasic a
        where a.LogicDel = 0
        and a.CheckDate is not null
        <if test="ruleSerialNum != null and ruleSerialNum !=''">
            and a.RuleSerialNum like concat('%', #{ruleSerialNum}, '%')
        </if>
        <if test="contractNum != null and contractNum != ''">
            and a.ContractNum like concat('%', #{contractNum}, '%')
        </if>
        <if test="contractName != null and contractName != ''">
            and a.ContractName like concat('%', #{contractName}, '%')
        </if>
        <if test="mainDeptID != null and  mainDeptID != ''">
            and a.MainDeptID = #{mainDeptID}
        </if>
        group by a.MainDeptID
    </select>
</mapper>
