<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.szgt.contract.make.mapper.CrContractbasicMapper">
    <select id="getMaxRuleSerialNum" resultType="java.util.HashMap">
        select Max(SerialNum) serialNum from cr_contractbasic where createdDate>='${createDate}' for update
    </select>
    <select id="getFrameContract" resultType="com.pcitc.szgt.contract.make.entity.CrContractbasic">
        Select a.* from cr_contractbasic  as a
        inner  join  cr_contractinfo b on a.contractId=b.contractId
        ${ew.customSqlSegment}
    </select>
    <select id="getMasterContract" resultType="com.pcitc.szgt.contract.make.entity.CrContractbasic">
        Select a.* from cr_contractbasic  as a
        inner  join  cr_contractinfo b on a.contractId=b.contractId
        ${ew.customSqlSegment}
    </select>
    <!--待/已发案合同-->
    <select id="queryContractIncidence" resultType="java.util.HashMap">
        Select a.*,b.* from cr_contractbasic  as a
        inner  join  cr_contractinfo b on a.contractId=b.contractId
        ${ew.customSqlSegment}
    </select>

    <!--合同订立备案查询-->
    <select id="getSealContract" resultType="java.util.HashMap">
        select  a.*,b.*
        from cr_contractbasic a
        inner join cr_contractinfo b  on a.ContractId=b.ContractId
        ${ew.customSqlSegment}
    </select>
    <!--签约依据关联合同查询-->
    <select id="queryContractAccord" resultType="java.util.HashMap">
        select  a.*,b.*,c.*,d.*
        from cr_contractbasic a
        inner join cr_contractinfo b  on a.ContractId=b.ContractId
        inner  join  cr_contractaccord  c on  a.ContractId=c.ContractId
        inner  join  cr_contractaccordoaother d on c.AccordingID = d.AccordingID
        ${ew.customSqlSegment}
    </select>
    <!--项目关联合同查询-->
    <select id="queryContractProject" resultType="java.util.HashMap">
        select  	a.*, b.*, c.ProjectID AS CRProjectID,
	ProjectCode,
	c.ProjectCode AS CRProjectCode,
	c.ProjectName AS CRProjectName,
	c.AtYear AS CRAtYear,
	c.ExecOrgan AS CRExecOrgan,
	c.InvestAmount AS CRInvestAmount
        from cr_contractbasic a
        inner join cr_contractinfo b  on a.ContractId=b.ContractId
        inner  join cr_projectinfo    c on  b.projectId=c.projectId
        ${ew.customSqlSegment}
    </select>
    <!--合同查询统计-->
    <select id="queryContract" resultType="java.util.HashMap">
        Select a.*, b.* from cr_contractbasic  as a
        inner  join  cr_contractinfo b on a.contractId=b.contractId
        ${ew.customSqlSegment}
    </select>

    <!--合同查询导出-->
    <select id="queryContractExport" resultType="com.pcitc.szgt.contract.perform.model.ExportContractVo">
        SELECT
            a.ruleserialNum,
            a.contractNum,
            a.contractName,
            CONCAT_WS(
                '/',
                t1.f_name,
                t2.f_name,
                t3.f_name,
                t4.f_name
            ) AS typeName,
            cr1.projectName,
            t5.OffereeName AS offereeName,
            t6.f_name as  mainDeptName,
            b.planMoney as planMoney,
            a.contractObjectAmount as contractObjectAmount,
            a.NoTaxAmount as noTaxAmount,
            a.TaxAmount as taxAmount,
            t7.f_cname as mainOrgUserName,
            CASE a.MoneyFlow WHEN 1 THEN '支出' WHEN 2 THEN '收入' WHEN 3 THEN '不涉及' END as moneyFlowName,
            CONCAT_WS('/',m1.f_name,m2.f_name) as moneySource,
            CASE b.isInnerContract WHEN 0 THEN '否'  ELSE '是' END as isInnerContract,
            m3.f_cname as mySignPersonName,
            a.createdDate as createdDate,
            a.finalityDate as finalityDate,
            b.mySignDate as mySignDate,
            b.mySealDate as mySealDate,
            t8.num as changeCount,
            CASE a.Section WHEN 34 THEN '是'  ELSE '否' END as isTerminate,
            CASE t9.num WHEN 0 THEN '否'  ELSE '是' END as isTransfer,
             CASE a.PropertyModel  WHEN 1 THEN '合同准备'  WHEN 11 THEN '合同订立' WHEN 19 THEN '合同签署' WHEN 30 THEN '合同履行'  WHEN 61 THEN '合同终结' WHEN 91 THEN '合同归档' END as propertyModel,
             CASE a.Section
             WHEN 1 THEN '订立准备'
             WHEN 2 THEN '合同准备审核'
             WHEN 3 THEN '合同准备'
             WHEN 11 THEN '订立发起'
             WHEN 17 THEN '文本审查审批'
             WHEN 13 THEN '合同打印'
             WHEN 14 THEN '合同打印'
             WHEN 19 THEN '合同签署'
             WHEN 20 THEN '合同要素登记'
             WHEN 21 THEN '待对方处理'
             WHEN 22 THEN '电子签名'
             WHEN 23 THEN '电子盖章'
             WHEN 30 THEN '合同履行'
             WHEN 31 THEN '合同收款'
             WHEN 32 THEN '合同付款'
             WHEN 33 THEN '合同中止'
             WHEN 34 THEN '合同终止'
             WHEN 35 THEN '合同变更'
             WHEN 36 THEN '合同转让'
             WHEN 37 THEN '合同临时归档'
             WHEN 38 THEN '付款详情录入'
             WHEN 39 THEN '付款录入'
             WHEN 40 THEN '收付款执行'
             WHEN 41 THEN 'PrePayment'
             WHEN 42 THEN '预付款申请录入'
             WHEN 61 THEN '合同终结'
             WHEN 91 THEN '合同归档'
             WHEN 93 THEN '合同纸质归档'
             WHEN 94 THEN '合同废弃审核'
             WHEN 97 THEN '合同变更签署'
             WHEN 98 THEN '合同转让签署'
             WHEN 99 THEN '合同终止签署'
             END as section,
             CASE  ISNULL(a.FinalityDate) WHEN 1 THEN '是'  ELSE '否' END as isFinality

        FROM
            cr_contractbasic AS a
            INNER JOIN cr_contractinfo b ON a.contractId = b.contractId
            LEFT JOIN szgt_system_systemdb.sys_dictionarycategory t1 ON a.Type1 = t1.f_id
            LEFT JOIN szgt_system_systemdb.sys_dictionarycategory t2 ON a.Type2 = t2.f_id
            LEFT JOIN szgt_system_systemdb.sys_dictionarycategory t3 ON a.Type3 = t3.f_id
            LEFT JOIN szgt_system_systemdb.sys_dictionarycategory t4 ON a.Type4 = t4.f_id
            LEFT JOIN cr_projectinfo cr1 ON b.ProjectID = cr1.ProjectID
          LEFT JOIN (
        SELECT f2.ContractID,GROUP_CONCAT(f1.OffereeName) AS OffereeName FROM ff_offereeinfo f1,cr_contractofferee f2 WHERE f2.OffereeID=f1.OffereeId GROUP BY ContractID) t5
         ON a.contractId=t5.ContractID
         LEFT JOIN szgt_system_systemdb.sys_organization t6 on a.MainDeptID  =t6.f_id
         left join szgt_system_systemdb.sys_userinfo t7 on a.MainOrgUserID = t7.f_ID
         LEFT JOIN szgt_system_systemdb.sys_dictionarycategory m1 ON b.MoneySource = m1.f_id
         LEFT JOIN szgt_system_systemdb.sys_dictionarycategory m2 ON b.MoneySource2 = m2.f_id
          LEFT JOIN szgt_system_systemdb.sys_userinfo m3 ON b.MySignPerson = m3.f_id

          left JOIN (select   ContractID,count(ContractID) as num from Cr_Contractchange where State = 5 group by ContractID) t8
         on a.ContractID = t8.ContractID
         left join (select ContractID,count(ContractID) as num from Cr_Contractchange where State = 5 group by ContractID) t9
          on a.ContractID = t9.ContractID

        ${ew.customSqlSegment}
    </select>

    <select id="queryFinalAlertMsg" resultType="com.pcitc.szgt.contract.perform.model.FinalAlertMsgVo">
        select a.ContractID as fContractId, a.ContractName, b.PerFormEndDate
        from cr_contractbasic as a, cr_contractinfo as b
        where a.contractId=b.contractId
        and a.LogicDel = 0
        and a.section = '30'
        and a.MainOrgUserID = #{createuser}
        and b.PerFormEndDate &lt;= #{finaldate}
        order by b.PerFormEndDate asc
    </select>

    <select id="queryFinalAlertMsgCnt" resultType="java.lang.Long">
        select count(*)
        from cr_contractbasic as a, cr_contractinfo as b
        where a.contractId=b.contractId
        and a.LogicDel = 0
        and a.section = '30'
        and a.MainOrgUserID = #{createuser}
        and b.PerFormEndDate &lt;= #{finaldate}
    </select>

    <select id="queryContractPayment" resultType="java.util.HashMap">
        select * from cr_contractbasic c left join cr_executepayment e on c.ContractID=e.ContractID
        ${ew.customSqlSegment}
    </select>
    <select id="selectSeqFunc" resultType="java.lang.Integer">
       SELECT `cmis_sass`.contract_seq_func(#{contractNum})
    </select>
</mapper>
