<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.szgt.contract.make.mapper.CrContractaccordoaotherMapper">
    <!--签约依据查询-->
    <select id="selectAccord" resultType="java.util.HashMap">
        select a.AccordingID,a.AccordingName ,a.ACode,a.OrgID,a.AccordingType,'test' as AccordingTypeName,
        a.AccordingSource,'test' as AccordingSourceName,a.IsValid,a.CreatedBy,'test' as userName,a.Remark,
        a.CreatedDate from cr_contractaccordoaother  a
       ${ew.customSqlSegment}
    </select>
</mapper>
