<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Index</title>
        <script type="text/javascript" src="jquery.min.js"></script>
     	<script type="text/javascript" src="pageoffice.js" id="po_js_main"></script>

        <script th:inline="javascript">

            var attalist = [[${attalist}]];
            var accesstoken = [[${accesstoken}]];

            function refreshTable(){
                window.location = "/demonstration";
            }
            
            function normalEdit_transportparam() {
                var index=document.getElementById("normal_edit_index").value;
                var atta = attalist[index - 1];
                var attachmentName = encodeURIComponent(atta.attachmentName);
                var propertyID = atta.propertyID;
                var docUrl = atta.docUrl;
                var attachmentPath = atta.attachmentPath;
                var extension = atta.extension;
                var remark = encodeURIComponent("编辑保存");

                var urlparams = "?attachmentName=" + attachmentName +
                    "&propertyID=" + propertyID +
                    "&docUrl=" + docUrl +
                    "&attachmentPath=" + attachmentPath +
                    "&extension=" + extension +
                    "&remark=" + remark +
                    "&access_token=" + accesstoken.substring(7);
                $.ajax({
                    type : "POST",  //提交方式
                    url : "transportparam" + urlparams,//路径
                    dataType: "json",
                    success : function(data) {//返回数据根据结果进行相应的处理
                        POBrowser.openWindowModeless(
                            'filenormal?access_token=' + accesstoken.substring(7) + "&request_code=" + data.data, 'width=1300px;height=800px;');
                    }
                });
            }
            
            function wordtopdf_transportparam() {
                var index=document.getElementById("wordtopdf_index").value;
                var atta = attalist[index - 1];
                var attachmentName = encodeURIComponent(atta.attachmentName);
                var propertyID = atta.propertyID;
                var docUrl = atta.docUrl;
                var attachmentPath = atta.attachmentPath;
                var extension = atta.extension;
                var remark = encodeURIComponent("另存为pdf");

                var urlparams = "?attachmentName=" + attachmentName +
                    "&propertyID=" + propertyID +
                    "&docUrl=" + docUrl +
                    "&attachmentPath=" + attachmentPath +
                    "&extension=" + extension +
                    "&remark=" + remark;
                $.ajax({
                    type : "GET",  //提交方式
                    url : "transportparam" + urlparams,//路径
                    dataType: "text",
                    success : function(data) {//返回数据根据结果进行相应的处理

                    }
                });
            }

            function compare_transportparam() {
                var index=document.getElementById("compare_index1").value;
                var index2=document.getElementById("compare_index2").value;

                var atta1 = attalist[index - 1];
                var atta2 = attalist[index2 - 1];

                var fileurl1 = atta1.docUrl + atta1.attachmentPath;
                var fileurl2 = atta2.docUrl + atta2.attachmentPath;

                var urlparams = "?fileurl1=" + fileurl1 + "&fileurl2=" + fileurl2;

                $.ajax({
                    type : "GET",  //提交方式
                    url : "transportparam" + urlparams,//路径
                    dataType: "text",
                    success : function(data) {//返回数据根据结果进行相应的处理

                    }
                });
            }

            function revision_transportparam() {
                var index=document.getElementById("revision_index").value;
                var atta = attalist[index - 1];
                var fileurl = atta.docUrl + atta.attachmentPath;
                var urlparams = "?fileurl=" + fileurl;

                $.ajax({
                    type : "GET",  //提交方式
                    url : "transportparam" + urlparams,//路径
                    dataType: "text",
                    success : function(data) {//返回数据根据结果进行相应的处理

                    }
                });
            }

            function readonly_transportparam() {
                var index=document.getElementById("readonly_index").value;
                var atta = attalist[index - 1];
                var fileurl = atta.docUrl + atta.attachmentPath;
                var urlparams = "?fileurl=" + fileurl;

                $.ajax({
                    type : "GET",  //提交方式
                    url : "transportparam" + urlparams,//路径
                    dataType: "text",
                    success : function(data) {//返回数据根据结果进行相应的处理

                    }
                });
            }

            function openpdf_transportparam() {
                var index=document.getElementById("openpdf_index").value;
                var atta = attalist[index - 1];
                var fileurl = atta.docUrl + atta.attachmentPath;
                var urlparams = "?fileurl=" + fileurl;

                $.ajax({
                    type : "GET",  //提交方式
                    url : "transportparam" + urlparams,//路径
                    dataType: "text",
                    success : function(data) {//返回数据根据结果进行相应的处理

                    }
                });
            }

            function comment_transportparam(){
                var index=document.getElementById("comment_index").value;
                var atta = attalist[index - 1];
                var attachmentName = encodeURIComponent(atta.attachmentName);
                var propertyID = atta.propertyID;
                var docUrl = atta.docUrl;
                var attachmentPath = atta.attachmentPath;
                var extension = atta.extension;
                var remark = encodeURIComponent("word批注");

                var urlparams = "?attachmentName=" + attachmentName +
                    "&propertyID=" + propertyID +
                    "&docUrl=" + docUrl +
                    "&attachmentPath=" + attachmentPath +
                    "&extension=" + extension +
                    "&remark=" + remark;
                $.ajax({
                    type : "GET",  //提交方式
                    url : "transportparam" + urlparams,//路径
                    dataType: "text",
                    success : function(data) {//返回数据根据结果进行相应的处理

                    }
                });
            }

            function region_transportparam() {
                var username = document.getElementById("region_username").value;
                var usercode = document.getElementById("region_usercode").value;
                var leader = document.getElementById("region_leader").value;

                var attachmentName = encodeURIComponent("责任状：互联网事业部");
                var propertyID = "pageofficetest";
                var docUrl = "http://10.238.222.210:8081";
                var attachmentPath = "/group1/M00/00/00/Cu7e0l6EA3CAJV4uAABEJbQPxBs52.docx";
                var extension = "docx";
                var remark = encodeURIComponent("模板填充");


                var urlparams = "?attachmentName=" + attachmentName +
                    "&propertyID=" + propertyID +
                    "&docUrl=" + docUrl +
                    "&attachmentPath=" + attachmentPath +
                    "&extension=" + extension +
                    "&remark=" + remark +
                    "&username=" + username +
                    "&usercode=" + usercode +
                    "&leader=" + leader;
                $.ajax({
                    type : "GET",  //提交方式
                    url : "transportparam" + urlparams,//路径
                    dataType: "text",
                    success : function(data) {//返回数据根据结果进行相应的处理

                    }
                });

            }

            function template_transportparam() {
                var urlparams = "?fileurl=http://10.238.222.210:8081/group1/M00/00/00/Cu7e0l6EA3CAJV4uAABEJbQPxBs52.docx";

                $.ajax({
                    type : "GET",  //提交方式
                    url : "transportparam" + urlparams,//路径
                    dataType: "text",
                    success : function(data) {//返回数据根据结果进行相应的处理

                    }
                });
            }

            function watermark_transportparam() {
                var index=document.getElementById("watermark_file_index").value;
                var atta = attalist[index - 1];
                var attachmentName = encodeURIComponent(atta.attachmentName);
                var propertyID = atta.propertyID;
                var docUrl = atta.docUrl;
                var attachmentPath = atta.attachmentPath;
                var extension = atta.extension;
                var remark = encodeURIComponent("word水印");

                var index2=document.getElementById("watermark_img_index").value;
                var atta2 = attalist[index2 - 1];
                var imgurl = atta2.docUrl + atta2.attachmentPath;

                var urlparams = "?attachmentName=" + attachmentName +
                    "&propertyID=" + propertyID +
                    "&docUrl=" + docUrl +
                    "&attachmentPath=" + attachmentPath +
                    "&extension=" + extension +
                    "&remark=" + remark +
                    "&imgurl=" + imgurl;
                $.ajax({
                    type : "GET",  //提交方式
                    url : "transportparam" + urlparams,//路径
                    dataType: "text",
                    success : function(data) {//返回数据根据结果进行相应的处理

                    }
                });

            }


        </script>
    </head>
    <body>
        <h1 th:inline="text">PageOffice 集成效果演示</h1>

        <table border="1">
            <tr>
                <th>序号</th>
                <th>附件名称</th>
                <th>附件地址</th>
                <th>附件路径</th>
                <th>备注</th>
            </tr>
            <tr  th:each="atta,attaStat : ${attalist}">
                <th th:text="${attaStat.count}">附件名称</th>
                <th th:text="${atta.AttachmentName}">附件名称</th>
                <th th:text="${atta.DocUrl}">附件地址</th>
                <th th:text="${atta.AttachmentPath}">附件路径</th>
                <th th:text="${atta.Remark}">备注</th>
            </tr>
        </table>
        <input type="button" onclick="refreshTable()" value="刷新列表">
        <br>
        <br>
        <br>
        <br>
        <!--文件序号:<input type="text" placeholder="输入文件序号" id="normal_edit_index">-->
        <!--<a href="javascript:POBrowser.openWindowModeless(-->
        <!--'filenormal?access_token=' + 'a61700cb-704b-4c5d-a518-c3640feb1621', 'width=1300px;height=800px;');" onclick="normalEdit_transportparam()">编辑文件 </a>-->
        文件序号:<input type="text" placeholder="输入文件序号" id="normal_edit_index">
        <input type="button" value="编辑文件" onclick="normalEdit_transportparam()">
        <br>
        <br>
        文件序号:<input type="text" placeholder="输入文件序号" id="wordtopdf_index">
        <a href="javascript:POBrowser.openWindowModeless(
        '/wordtopdf','width=1300px;height=800px;');" onclick="wordtopdf_transportparam()">word转pdf </a> <span style="color: red">注:word存在修改历史，需要设置接收全部修订，否则生成的pdf会保留修改痕迹</span>
        <br>
        <br>
        文件序号一:<input type="text" placeholder="输入文件序号" id="compare_index1">
        文件序号二:<input type="text" placeholder="输入文件序号" id="compare_index2">
        <a href="javascript:POBrowser.openWindowModeless(
        '/wordcompare','width=1300px;height=800px;');" onclick="compare_transportparam()">比较文件 </a>
        <br>
        <br>
        文件序号:<input type="text" placeholder="输入文件序号" id="revision_index">
        <a href="javascript:POBrowser.openWindowModeless('/wordrevision', 'width=1510px;height=800px;');" onclick="revision_transportparam()">Word中显示修改痕迹</a>
        <br>
        <br>
        文件序号:<input type="text" placeholder="输入文件序号" id="readonly_index">
        <a href="javascript:POBrowser.openWindowModeless('/filereadonly', 'width=1300px;height=800px;');" onclick="readonly_transportparam()">只读查看</a>
        <br>
        <br>
        文件序号:<input type="text" placeholder="输入文件序号" id="openpdf_index">
        <a href="javascript:POBrowser.openWindowModeless('/pdfopen', 'width=1300px;height=800px;');" onclick="openpdf_transportparam()">打开pdf</a>
        <br>
        <br>
        文件序号:<input type="text" placeholder="输入文件序号" id="comment_index">
        <a href="javascript:POBrowser.openWindowModeless(
        '/wordcomment','width=1810px;height=800px;');" onclick="comment_transportparam()">word批注 </a>
        <br>
        <br>
        用户名：<input type="text" placeholder="" id="region_username">
        用户编码：<input type="text" placeholder="" id="region_usercode">
        领导：<input type="text" placeholder="" id="region_leader">
        <a href="javascript:POBrowser.openWindowModeless('/filereadonly', 'width=1300px;height=800px;');" onclick="template_transportparam()">模板查看</a>
        <a href="javascript:POBrowser.openWindowModeless(
        '/dataregionfill','width=1300px;height=800px;');" onclick="region_transportparam()">模板填充 </a>

        <br>
        <br>
        文件序号:<input type="text" placeholder="输入文件序号" id="watermark_file_index">
        图片序号:<input type="text" placeholder="输入图片序号" id="watermark_img_index">
        <a href="javascript:POBrowser.openWindowModeless(
        '/wordwatermark','width=1300px;height=800px;');" onclick="watermark_transportparam()">添加word水印 </a>
        <br>
        <br>
        <form action="http://10.238.222.67:8238/contract/attachment/upload" enctype="multipart/form-data" method="post">
            <input type="hidden" name="AttachmentTypeName" value="水印图片">
            <input type="hidden" name="Remark" value="上传水印图片">
            <input type="hidden" name="PropertyID" value="pageofficetest">
            <input type="file" name="file">
            <input type="hidden" name="access_token" th:value="${accesstoken.substring(7)}">
            <input type="submit" value="上传新水印图">
        </form>
    </body>
</html>
