<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Index</title>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="pageoffice.js" id="po_js_main"></script>

    <script th:inline="javascript">

        var access_token = [[${access_token}]];

        var businessId = getUrlParam("businessId");//合同/变更业务id
        var textId = getUrlParam("textId");//文本id
        var textType = getUrlParam("textType");//文本类型
        var section = getUrlParam("section");//合同变更/订立
        var isEdit = getUrlParam("isEdit");//重生/编辑
        var contractId = getUrlParam("contractId");//合同id
        function getUrlParam(paraName) {
            var url = document.location.toString();
            var arrObj = url.split("?");
            if (arrObj.length > 1) {
                var arrPara = arrObj[1].split("&");
                var arr;
                for (var i = 0; i < arrPara.length; i++) {
                    arr = arrPara[i].split("=");
                    if (arr != null && arr[0] == paraName) {
                        return arr[1];
                    }
                }
                return "";
            } else {
                return "";
            }
        }

        function datafill_transportparam() {
            POBrowser.openWindowModeless(
                'dataregionfill?access_token=' + access_token + '&businessId=' + businessId + '&textId=' + textId + '&textType=' + textType +
                '&section=' + section + '&isEdit=' + isEdit + '' +'&contractId=' + contractId + ''
                , 'width=1300px;height=800px;');
        }

        function waterimg_transportparam() {
            POBrowser.openWindowModeless(
                'wordwatermark?access_token=' + access_token + '&businessId=' + businessId + '&textId=' + textId + '&textType=' + textType + '&section=' + section + ''
                , 'width=1300px;height=800px;');
        }
    </script>
</head>
<body>

<input type="button" value="模板填充测试" onclick="datafill_transportparam()">
<input type="button" value="合同水印" onclick="waterimg_transportparam()">

</body>
</html>
