<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title></title>
        <style>
            html, body
            {
                height: 100%;
            }
            .main
            {
                height: 100%;
            }
        </style>
        <script type="text/javascript">
          	function Save() {
              	document.getElementById("PageOfficeCtrl1").WebSave();
        	}

            function CloseWin(){
                window.external.close();
            }

            //另存为PDF文件
            function SaveAsPDF() {
                document.getElementById("PageOfficeCtrl1").WebSaveAsPDF();
            }
  		</script>

    </head>
    <body>
        <div style="width:auto;height:100%;" th:utext="${pageoffice}"></div>
    </body>
</html>
