<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcitc.legalAffairs.mapper.privilege.PrivilegeInfoMapper">
    <resultMap id="userinfoVo" type="com.pcitc.legalAffairs.vo.fwPrivilegeInfo.PrivilegeUserVo">
        <result column="fkUserId" jdbcType="BIGINT" property="fkUserId"/>
        <result column="fkUserName" jdbcType="VARCHAR" property="fkUserName"/>
        <result column="privilegeOrgs" jdbcType="VARCHAR" property="privilegeOrgs"/>
    </resultMap>
    <select id="pageUsers" resultMap="userinfoVo" parameterType="com.pcitc.legalAffairs.vo.fwPrivilegeInfo.PrivilegeUserQueryVo">
        SELECT
            a.fk_User_ID AS fkUserId,
            MAX(a.fk_User_Name) AS fkUserName,
            b.privilegeOrgs AS privilegeOrgs
        FROM fw_privilege_info a
        JOIN (SELECT
                fk_User_ID AS fk_User_ID,
                GROUP_CONCAT(DISTINCT fk_Org_Name SEPARATOR ',') AS privilegeOrgs
            FROM fw_privilege_info
            WHERE f_IsDel = 0
            GROUP BY fk_User_ID) AS b ON
            a.fk_User_ID = b.fk_User_ID
        WHERE a.f_IsDel = 0
        <if test="param.userName != null">
            <bind name="userName" value="'%' + param.userName + '%'"/>
            AND a.fk_User_Name LIKE #{userName }
        </if>
        <if test="param.privilegeOrg != null">
            <bind name="privilegeOrg" value="'%' + param.privilegeOrg + '%'"/>
            AND a.fk_Org_Name LIKE #{privilegeOrg }
        </if>
        <if test="param.privilegeOrgId != null">
            AND a.fk_Org_ID = #{param.privilegeOrgId }
        </if>
        GROUP BY a.fk_User_ID
    </select>
</mapper>