<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.reportforms.mapper.DcReportDesionCensorMapper">
    
    <resultMap type="com.oo.reportforms.domain.DcReportDesionCensor" id="DcReportDesionCensorResult">
        <result property="id" column="id"/>
        <result property="designCensorName" column="design_censor_name"/>
        <result property="censonBeginDate" column="censon_begin_date"/>
        <result property="censonEndDate" column="censon_end_date"/>
        <result property="keywords" column="keywords"/>
        <result property="expertNum" column="expert_num"/>
        <result property="expertOpinion" column="expert_opinion"/>
        <result property="wellCount" column="well_count"/>
        <result property="waterDepth" column="water_depth"/>
        <result property="economizeCost" column="economize_cost"/>
        <result property="economizeCostSum" column="economize_cost_sum"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
    </resultMap>

    <resultMap type="com.oo.reportforms.domain.DcReportDesionCensorUserView" id="DcReportDesionCensorUserViewResult">
        <result property="id" column="id"/>
        <result property="designCensorName" column="design_censor_name"/>
        <result property="censonBeginDate" column="censon_begin_date"/>
        <result property="censonEndDate" column="censon_end_date"/>
        <result property="keywords" column="keywords"/>
        <result property="expertNum" column="expert_num"/>
        <result property="expertOpinion" column="expert_opinion"/>
        <result property="wellCount" column="well_count"/>
        <result property="waterDepth" column="water_depth"/>
        <result property="economizeCost" column="economize_cost"/>
        <result property="economizeCostSum" column="economize_cost_sum"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
        <result property="censorId" column="censor_Id"/>
        <result property="censorName" column="censorName"/>
    </resultMap>

    <resultMap type="com.oo.reportforms.domain.vo.CensorNameVo" id="CensorNameVoResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <resultMap type="com.oo.reportforms.domain.vo.DcReportDesionCensorSummaryExamination" id="SummaryExaminationResult">
        <result property="year" column="year"/>
        <result property="count" column="count"/>
    </resultMap>

    <sql id="selectDcReportDesionCensorVo">
        select id, design_censor_name, censon_begin_date, censon_end_date, keywords, expert_num, expert_opinion, well_count, water_depth, economize_cost, economize_cost_sum, remark, create_by, create_time, update_by, update_time, del_flag, del_user, del_time from dc_report_desion_censor
    </sql>

    <select id="selectDcReportDesionCensorList" resultMap="DcReportDesionCensorUserViewResult">
        select * from report_desion_censor_user_view
        <where>
            del_flag = '0'
            <if test="designCensorName != null  and designCensorName != ''">
                AND design_censor_name like concat('%', #{designCensorName}, '%')
            </if>
            <if test="beginTime != null">
                AND date_format(censon_begin_date,'%y%m%d')  &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null">
                AND date_format(censon_end_date,'%y%m%d') &lt;=  date_format(#{endTime},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="getCensorName" resultMap="CensorNameVoResult">
        select * from dc_report_expert_library where del_flag = '0'
            AND if_retire = "1"
            AND year = #{year}
    </select>

    <select id="getExpertCensorName" resultMap="CensorNameVoResult">
        select DISTINCT name,id from dc_report_expert_library where del_flag = '0'
         AND name = #{name}
    </select>

    <select id="getSummaryExamination" resultMap="SummaryExaminationResult">
        select YEAR(CENSON_END_DATE) as 'year',count(*) as 'count' from dc_report_desion_censor group By YEAR(CENSON_END_DATE)
    </select>

    <delete id="deleteItemsByIds">
        delete from dc_report_desion_censor where id in
        <foreach item="ids" collection="array" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
</mapper>