<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.reportforms.mapper.DcReportRollingBugdetSixmonMonthMapper">
    
    <resultMap type="com.oo.reportforms.domain.DcReportRollingBugdetSixmonMonth" id="DcReportRollingBugdetSixmonMonthResult">
        <result property="rollingBugdetId" column="rolling_bugdet_id"/>
        <result property="month" column="month"/>
        <result property="value" column="value"/>
    </resultMap>

    <sql id="selectDcReportRollingBugdetSixmonMonthVo">
        select rolling_bugdet_id, month, value from dc_report_rolling_bugdet_sixmon_month
    </sql>

    <select id="selectDcReportRollingBugdetSixmonMonthList" parameterType="com.oo.reportforms.domain.DcReportRollingBugdetSixmonMonth" resultMap="DcReportRollingBugdetSixmonMonthResult">
        <include refid="selectDcReportRollingBugdetSixmonMonthVo"/>
        <where>  
            <if test="value != null "> and value = #{value}</if>
        </where>
    </select>
    
</mapper>