<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.reportforms.mapper.DcReportRollingBugdetSevenmonMonthMapper">
    
    <resultMap type="com.oo.reportforms.domain.DcReportRollingBugdetSevenmonMonth" id="DcReportRollingBugdetSevenmonMonthResult">
        <result property="rollingBugdetId" column="rolling_bugdet_id"/>
        <result property="month" column="month"/>
        <result property="value" column="value"/>
    </resultMap>

    <sql id="selectDcReportRollingBugdetSevenmonMonthVo">
        select rolling_bugdet_id, month, value from dc_report_rolling_bugdet_sevenmon_month
    </sql>

    <select id="selectDcReportRollingBugdetSevenmonMonthList" parameterType="com.oo.reportforms.domain.DcReportRollingBugdetSevenmonMonth" resultMap="DcReportRollingBugdetSevenmonMonthResult">
        <include refid="selectDcReportRollingBugdetSevenmonMonthVo"/>
        <where>  
            <if test="value != null "> and value = #{value}</if>
        </where>
    </select>
    
</mapper>