<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.reportforms.mapper.DcReportRollingBugdetEightmonMapper">
    
    <resultMap type="com.oo.reportforms.domain.DcReportRollingBugdetEightmon" id="DcReportRollingBugdetEightmonResult">
        <result property="id" column="id"/>
        <result property="organizationId" column="organization_id"/>
        <result property="type" column="type"/>
        <result property="declareName" column="declare_name"/>
        <result property="year" column="year"/>
        <result property="budgetSubjects" column="budget_subjects"/>
        <result property="forecastsYear" column="forecasts_year"/>
        <result property="forecasts" column="forecasts"/>
        <result property="forecastsDiff" column="forecasts_diff"/>
        <result property="workYear" column="work_year"/>
        <result property="workForecasts" column="work_forecasts"/>
        <result property="workDiff" column="work_diff"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
    </resultMap>

    <sql id="selectDcReportRollingBugdetEightmonVo">
        select id, organization_id, type, declare_name, year, budget_subjects, forecasts_year, forecasts, forecasts_diff, work_year, work_forecasts, work_diff, create_by, create_time, update_by, update_time, remark, del_flag, del_user, del_time from dc_report_rolling_bugdet_eightmon
    </sql>

    <select id="selectDcReportRollingBugdetEightmonList" parameterType="com.oo.reportforms.domain.DcReportRollingBugdetEightmon" resultMap="DcReportRollingBugdetEightmonResult">
        <include refid="selectDcReportRollingBugdetEightmonVo"/>
        <where>  
            <if test="organizationId != null  and organizationId != ''"> and organization_id = #{organizationId}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="declareName != null  and declareName != ''"> and declare_name like concat('%', #{declareName}, '%')</if>
            <if test="year != null  and year != ''"> and year = #{year}</if>
            <if test="budgetSubjects != null  and budgetSubjects != ''"> and budget_subjects = #{budgetSubjects}</if>
            <if test="forecastsYear != null "> and forecasts_year = #{forecastsYear}</if>
            <if test="forecasts != null "> and forecasts = #{forecasts}</if>
            <if test="forecastsDiff != null "> and forecasts_diff = #{forecastsDiff}</if>
            <if test="workYear != null "> and work_year = #{workYear}</if>
            <if test="workForecasts != null "> and work_forecasts = #{workForecasts}</if>
            <if test="workDiff != null "> and work_diff = #{workDiff}</if>
            <if test="delUser != null  and delUser != ''"> and del_user = #{delUser}</if>
            <if test="delTime != null "> and del_time = #{delTime}</if>
        </where>
    </select>
    
</mapper>