<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.reportforms.mapper.DcReportBudgetExeExplorationMapper">
    
    <resultMap type="com.oo.reportforms.domain.DcReportBudgetExeExploration" id="DcReportBudgetExeExplorationResult">
        <result property="id" column="id"/>
        <result property="bu" column="bu"/>
        <result property="code" column="code"/>
        <result property="organizationId" column="organization_id"/>
        <result property="workingInterest" column="working_interest"/>
        <result property="wellCountPlanD" column="well_count_plan_d"/>
        <result property="budgePlanD" column="budge_plan_d"/>
        <result property="wellCountCostD" column="well_count_cost_d"/>
        <result property="budgeCostD" column="budge_cost_d"/>
        <result property="wellCountPlanedD" column="well_count_planed_d"/>
        <result property="costPlanedTotal" column="cost_planed_total"/>
        <result property="wellCountAccumulatedD" column="well_count_accumulated_d"/>
        <result property="wellCountAccumulatedRate" column="well_count_accumulated_rate"/>
        <result property="costAccumulatedD" column="cost_accumulated_d"/>
        <result property="costAccumulatedRate" column="cost_accumulated_rate"/>
        <result property="wellCountForecastingD" column="well_count_forecasting_d"/>
        <result property="wellCountForecastingRate" column="well_count_forecasting_rate"/>
        <result property="costForecastingD" column="cost_forecasting_d"/>
        <result property="costForecastingRate" column="cost_forecasting_rate"/>
        <result property="year" column="year"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
    </resultMap>

    <sql id="selectDcReportBudgetExeExplorationVo">
        select id, bu, code, organization_id, working_interest, well_count_plan_d, budge_plan_d, well_count_cost_d, budge_cost_d, well_count_planed_d, cost_planed_total, well_count_accumulated_d, well_count_accumulated_rate, cost_accumulated_d, cost_accumulated_rate, well_count_forecasting_d, well_count_forecasting_rate, cost_forecasting_d, cost_forecasting_rate, year, create_by, create_time, update_by, update_time, remark, del_flag, del_user, del_time from dc_report_budget_exe_exploration
    </sql>

    <select id="selectDcReportBudgetExeExplorationList" parameterType="com.oo.reportforms.domain.DcReportBudgetExeExploration" resultMap="DcReportBudgetExeExplorationResult">
        <include refid="selectDcReportBudgetExeExplorationVo"/>
        <where>  
            <if test="bu != null  and bu != ''"> and bu = #{bu}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="organizationId != null  and organizationId != ''"> and organization_id = #{organizationId}</if>
            <if test="workingInterest != null "> and working_interest = #{workingInterest}</if>
            <if test="wellCountPlanD != null "> and well_count_plan_d = #{wellCountPlanD}</if>
            <if test="budgePlanD != null "> and budge_plan_d = #{budgePlanD}</if>
            <if test="wellCountCostD != null "> and well_count_cost_d = #{wellCountCostD}</if>
            <if test="budgeCostD != null "> and budge_cost_d = #{budgeCostD}</if>
            <if test="wellCountPlanedD != null "> and well_count_planed_d = #{wellCountPlanedD}</if>
            <if test="costPlanedTotal != null "> and cost_planed_total = #{costPlanedTotal}</if>
            <if test="wellCountAccumulatedD != null "> and well_count_accumulated_d = #{wellCountAccumulatedD}</if>
            <if test="wellCountAccumulatedRate != null "> and well_count_accumulated_rate = #{wellCountAccumulatedRate}</if>
            <if test="costAccumulatedD != null "> and cost_accumulated_d = #{costAccumulatedD}</if>
            <if test="costAccumulatedRate != null "> and cost_accumulated_rate = #{costAccumulatedRate}</if>
            <if test="wellCountForecastingD != null "> and well_count_forecasting_d = #{wellCountForecastingD}</if>
            <if test="wellCountForecastingRate != null "> and well_count_forecasting_rate = #{wellCountForecastingRate}</if>
            <if test="costForecastingD != null "> and cost_forecasting_d = #{costForecastingD}</if>
            <if test="costForecastingRate != null "> and cost_forecasting_rate = #{costForecastingRate}</if>
            <if test="year != null  and year != ''"> and year = #{year}</if>
            <if test="delUser != null  and delUser != ''"> and del_user = #{delUser}</if>
            <if test="delTime != null "> and del_time = #{delTime}</if>
        </where>
    </select>
    
</mapper>