<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.reportforms.mapper.DcReportRollingBugdetTenmonMonthMapper">
    
    <resultMap type="com.oo.reportforms.domain.DcReportRollingBugdetTenmonMonth" id="DcReportRollingBugdetTenmonMonthResult">
        <result property="rollingBugdetId" column="rolling_bugdet_id"/>
        <result property="month" column="month"/>
        <result property="value" column="value"/>
    </resultMap>

    <sql id="selectDcReportRollingBugdetTenmonMonthVo">
        select rolling_bugdet_id, month, value from dc_report_rolling_bugdet_tenmon_month
    </sql>

    <select id="selectDcReportRollingBugdetTenmonMonthList" parameterType="com.oo.reportforms.domain.DcReportRollingBugdetTenmonMonth" resultMap="DcReportRollingBugdetTenmonMonthResult">
        <include refid="selectDcReportRollingBugdetTenmonMonthVo"/>
        <where>  
            <if test="value != null "> and value = #{value}</if>
        </where>
    </select>
    
</mapper>