<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.reportforms.mapper.DcReportProjectEquityMapper">
    
    <resultMap type="com.oo.reportforms.domain.DcReportProjectEquity" id="DcReportProjectEquityResult">
        <result property="projectId" column="project_id"/>
        <result property="workerCompany" column="worker_company"/>
        <result property="workerEquity" column="worker_equity"/>
        <result property="partner1Company" column="partner1_company"/>
        <result property="partner1Equity" column="partner1_equity"/>
        <result property="partner2Company" column="partner2_company"/>
        <result property="partner2Equity" column="partner2_equity"/>
        <result property="partner3Company" column="partner3_company"/>
        <result property="partner3Equity" column="partner3_equity"/>
        <result property="partner4Company" column="partner4_company"/>
        <result property="partner4Equity" column="partner4_equity"/>
        <result property="partner5Company" column="partner5_company"/>
        <result property="partner5Equity" column="partner5_equity"/>
        <result property="partner6Company" column="partner6_company"/>
        <result property="partner6Equity" column="partner6_equity"/>
        <result property="partner7Company" column="partner7_company"/>
        <result property="partner7Equity" column="partner7_equity"/>
        <result property="partner8Company" column="partner8_company"/>
        <result property="partner8Equity" column="partner8_equity"/>
        <result property="partner9Company" column="partner9_company"/>
        <result property="partner9Equity" column="partner9_equity"/>
        <result property="partner10Company" column="partner10_company"/>
        <result property="partner10Equity" column="partner10_equity"/>
        <result property="partner11Company" column="partner11_company"/>
        <result property="partner11Equity" column="partner11_equity"/>
        <result property="partner12Company" column="partner12_company"/>
        <result property="partner12Equity" column="partner12_equity"/>
        <result property="partner13Company" column="partner13_company"/>
        <result property="partner13Equity" column="partner13_equity"/>
        <result property="partner14Company" column="partner14_company"/>
        <result property="partner14Equity" column="partner14_equity"/>
        <result property="partner15Company" column="partner15_company"/>
        <result property="partner15Equity" column="partner15_equity"/>
        <result property="partner16Company" column="partner16_company"/>
        <result property="partner16Equity" column="partner16_equity"/>
        <result property="partner17Company" column="partner17_company"/>
        <result property="partner17Equity" column="partner17_equity"/>
        <result property="partner18Company" column="partner18_company"/>
        <result property="partner18Equity" column="partner18_equity"/>
        <result property="partner19Company" column="partner19_company"/>
        <result property="partner19Equity" column="partner19_equity"/>
        <result property="partner20Company" column="partner20_company"/>
        <result property="partner20Equity" column="partner20_equity"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
    </resultMap>

    <resultMap type="com.oo.reportforms.domain.vo.DcReportProjectEquityVo" id="DcReportProjectEquityVoResult">
        <result property="projectId" column="project_id"/>
        <result property="workerCompany" column="worker_company"/>
        <result property="workerEquity" column="worker_equity"/>
        <result property="partner1Company" column="partner1_company"/>
        <result property="partner1Equity" column="partner1_equity"/>
        <result property="partner2Company" column="partner2_company"/>
        <result property="partner2Equity" column="partner2_equity"/>
        <result property="partner3Company" column="partner3_company"/>
        <result property="partner3Equity" column="partner3_equity"/>
        <result property="partner4Company" column="partner4_company"/>
        <result property="partner4Equity" column="partner4_equity"/>
        <result property="partner5Company" column="partner5_company"/>
        <result property="partner5Equity" column="partner5_equity"/>
        <result property="partner6Company" column="partner6_company"/>
        <result property="partner6Equity" column="partner6_equity"/>
        <result property="partner7Company" column="partner7_company"/>
        <result property="partner7Equity" column="partner7_equity"/>
        <result property="partner8Company" column="partner8_company"/>
        <result property="partner8Equity" column="partner8_equity"/>
        <result property="partner9Company" column="partner9_company"/>
        <result property="partner9Equity" column="partner9_equity"/>
        <result property="partner10Company" column="partner10_company"/>
        <result property="partner10Equity" column="partner10_equity"/>
        <result property="partner11Company" column="partner11_company"/>
        <result property="partner11Equity" column="partner11_equity"/>
        <result property="partner12Company" column="partner12_company"/>
        <result property="partner12Equity" column="partner12_equity"/>
        <result property="partner13Company" column="partner13_company"/>
        <result property="partner13Equity" column="partner13_equity"/>
        <result property="partner14Company" column="partner14_company"/>
        <result property="partner14Equity" column="partner14_equity"/>
        <result property="partner15Company" column="partner15_company"/>
        <result property="partner15Equity" column="partner15_equity"/>
        <result property="partner16Company" column="partner16_company"/>
        <result property="partner16Equity" column="partner16_equity"/>
        <result property="partner17Company" column="partner17_company"/>
        <result property="partner17Equity" column="partner17_equity"/>
        <result property="partner18Company" column="partner18_company"/>
        <result property="partner18Equity" column="partner18_equity"/>
        <result property="partner19Company" column="partner19_company"/>
        <result property="partner19Equity" column="partner19_equity"/>
        <result property="partner20Company" column="partner20_company"/>
        <result property="partner20Equity" column="partner20_equity"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
        <result property="maxColumn" column="max_column"/>
        <result property="companyName" column="companyname"/>
        <result property="blockId" column="blockid"/>
        <result property="blockName" column="blockname"/>
    </resultMap>

    <resultMap type="com.oo.datamanagement.api.domain.DcMdProject" id="DcMdProjectResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <sql id="selectDcReportProjectEquityVo">
        select project_id, worker_company, worker_equity, partner1_company, partner1_equity, partner2_company, partner2_equity, partner3_company, partner3_equity, partner4_company, partner4_equity, partner5_company, partner5_equity, partner6_company, partner6_equity, partner7_company, partner7_equity, partner8_company, partner8_equity, partner9_company, partner9_equity, partner10_company, partner10_equity, partner11_company, partner11_equity, partner12_company, partner12_equity, partner13_company, partner13_equity, partner14_company, partner14_equity, partner15_company, partner15_equity, partner16_company, partner16_equity, partner17_company, partner17_equity, partner18_company, partner18_equity, partner19_company, partner19_equity, partner20_company, partner20_equity, remark, create_by, create_time, update_by, update_time, del_flag, del_user, del_time from dc_report_project_equity
    </sql>

    <select id="selectList" parameterType="com.oo.reportforms.domain.vo.DcReportProjectEquityVo" resultMap="DcReportProjectEquityVoResult">
        select b.companyname,b.blockid,b.blockname,c.* FROM (select a.project_id, a.worker_company, a.worker_equity, a.partner1_company, a.partner1_equity, a.partner2_company, a.partner2_equity,
        a.partner3_company, a.partner3_equity, a.partner4_company, a.partner4_equity, a.partner5_company, a.partner5_equity,
        a.partner6_company, a.partner6_equity, a.partner7_company, a.partner7_equity, a.partner8_company, a.partner8_equity,
        a.partner9_company, a.partner9_equity, a.partner10_company, a.partner10_equity, a.partner11_company, a.partner11_equity,
        a.partner12_company, a.partner12_equity, a.partner13_company, a.partner13_equity, a.partner14_company,
        a.partner14_equity, a.partner15_company, a.partner15_equity, a.partner16_company, a.partner16_equity,
        a.partner17_company, a.partner17_equity, a.partner18_company, a.partner18_equity, a.partner19_company,
        a.partner19_equity, a.partner20_company, a.partner20_equity, a.remark, a.create_by,
        a.create_time, a.update_by, a.update_time, a.del_flag, a.del_user, a.del_time,a.max_column
        from dc_report_project_equity a where a.del_flag != 1 )c RIGHT join block_view b on c.project_id = b.blockid
        <where>
            <if test="blockId != null  and blockId != ''">
             blockid = #{blockId}
            </if>
        </where>
        order by companyname,create_time
    </select>

    <select id="selectScreenList" parameterType="com.oo.reportforms.domain.vo.DcReportProjectEquityVo" resultMap="DcReportProjectEquityVoResult">
        select b.companyname,b.blockid,b.blockname,c.* from (select project_id,worker_company,IfNULL(worker_equity,"--") as worker_equity,
        IfNULL(partner1_company,"--") as partner1_company,IfNULL(partner1_equity,"--") as partner1_equity,IfNULL(partner2_company,"--") as partner2_company,IfNULL(partner2_equity,"--") as partner2_equity,
        IfNULL(partner3_company,"--") as partner3_company,IfNULL(partner3_equity,"--") as partner3_equity,IfNULL(partner4_company,"--") as partner4_company,IfNULL(partner4_equity,"--") as partner4_equity,
        IfNULL(partner5_company,"--") as partner5_company,IfNULL(partner5_equity,"--") as partner5_equity,IfNULL(partner6_company,"--") as partner6_company,IfNULL(partner6_equity,"--") as partner6_equity,
        IfNULL(partner7_company,"--") as partner7_company,IfNULL(partner7_equity,"--") as partner7_equity,IfNULL(partner8_company,"--") as partner8_company,IfNULL(partner8_equity,"--") as partner8_equity,
        IfNULL(partner9_company,"--") as partner9_company,IfNULL(partner9_equity,"--") as partner9_equity,IfNULL(partner10_company,"--") as partner10_company,IfNULL(partner10_equity,"--") as partner10_equity,
        IfNULL(partner11_company,"--") as partner11_company,IfNULL(partner11_equity,"--") as partner11_equity,IfNULL(partner12_company,"--") as partner12_company,IfNULL(partner12_equity,"--") as partner12_equity,
        IfNULL(partner13_company,"--") as partner13_company,IfNULL(partner13_equity,"--") as partner13_equity,IfNULL(partner14_company,"--") as partner14_company,IfNULL(partner14_equity,"--") as partner14_equity,
        IfNULL(partner15_company,"--") as partner15_company,IfNULL(partner15_equity,"--") as partner15_equity,IfNULL(partner16_company,"--") as partner16_company,IfNULL(partner16_equity,"--") as partner16_equity,
        IfNULL(partner17_company,"--") as partner17_company,IfNULL(partner17_equity,"--") as partner17_equity,IfNULL(partner18_company,"--") as partner18_company,IfNULL(partner18_equity,"--") as partner18_equity,
        IfNULL(partner19_company,"--") as partner19_company,IfNULL(partner19_equity,"--") as partner19_equity,IfNULL(partner20_company,"--") as partner20_company,IfNULL(partner20_equity,"--") as partner20_equity,
        remark, create_by,create_time, update_by,update_time,del_flag,del_user, del_time,max_column
        from  dc_report_project_equity where del_flag != 1) c RIGHT join block_view b on c.project_id = b.blockid
        <where>
            worker_company != ''
            <if test="blockId != null  and blockId != ''">
            and blockid = #{blockId}
            </if>
        </where>
        order by companyname,create_time
    </select>

    <select id="selectDcReportProjectEquityList" parameterType="com.oo.reportforms.domain.DcReportProjectEquity" resultMap="DcReportProjectEquityResult">
        <include refid="selectDcReportProjectEquityVo"/>
        <where>  
            <if test="workerCompany != null  and workerCompany != ''"> and worker_company = #{workerCompany}</if>
            <if test="workerEquity != null  and workerEquity != ''"> and worker_equity = #{workerEquity}</if>
            <if test="partner1Company != null  and partner1Company != ''"> and partner1_company = #{partner1Company}</if>
            <if test="partner1Equity != null  and partner1Equity != ''"> and partner1_equity = #{partner1Equity}</if>
            <if test="partner2Company != null  and partner2Company != ''"> and partner2_company = #{partner2Company}</if>
            <if test="partner2Equity != null  and partner2Equity != ''"> and partner2_equity = #{partner2Equity}</if>
            <if test="partner3Company != null  and partner3Company != ''"> and partner3_company = #{partner3Company}</if>
            <if test="partner3Equity != null  and partner3Equity != ''"> and partner3_equity = #{partner3Equity}</if>
            <if test="partner4Company != null  and partner4Company != ''"> and partner4_company = #{partner4Company}</if>
            <if test="partner4Equity != null  and partner4Equity != ''"> and partner4_equity = #{partner4Equity}</if>
            <if test="partner5Company != null  and partner5Company != ''"> and partner5_company = #{partner5Company}</if>
            <if test="partner5Equity != null  and partner5Equity != ''"> and partner5_equity = #{partner5Equity}</if>
            <if test="partner6Company != null  and partner6Company != ''"> and partner6_company = #{partner6Company}</if>
            <if test="partner6Equity != null  and partner6Equity != ''"> and partner6_equity = #{partner6Equity}</if>
            <if test="partner7Company != null  and partner7Company != ''"> and partner7_company = #{partner7Company}</if>
            <if test="partner7Equity != null  and partner7Equity != ''"> and partner7_equity = #{partner7Equity}</if>
            <if test="partner8Company != null  and partner8Company != ''"> and partner8_company = #{partner8Company}</if>
            <if test="partner8Equity != null  and partner8Equity != ''"> and partner8_equity = #{partner8Equity}</if>
            <if test="partner9Company != null  and partner9Company != ''"> and partner9_company = #{partner9Company}</if>
            <if test="partner9Equity != null  and partner9Equity != ''"> and partner9_equity = #{partner9Equity}</if>
            <if test="partner10Company != null  and partner10Company != ''"> and partner10_company = #{partner10Company}</if>
            <if test="partner10Equity != null  and partner10Equity != ''"> and partner10_equity = #{partner10Equity}</if>
            <if test="partner11Company != null  and partner11Company != ''"> and partner11_company = #{partner11Company}</if>
            <if test="partner11Equity != null  and partner11Equity != ''"> and partner11_equity = #{partner11Equity}</if>
            <if test="partner12Company != null  and partner12Company != ''"> and partner12_company = #{partner12Company}</if>
            <if test="partner12Equity != null  and partner12Equity != ''"> and partner12_equity = #{partner12Equity}</if>
            <if test="partner13Company != null  and partner13Company != ''"> and partner13_company = #{partner13Company}</if>
            <if test="partner13Equity != null  and partner13Equity != ''"> and partner13_equity = #{partner13Equity}</if>
            <if test="partner14Company != null  and partner14Company != ''"> and partner14_company = #{partner14Company}</if>
            <if test="partner14Equity != null  and partner14Equity != ''"> and partner14_equity = #{partner14Equity}</if>
            <if test="partner15Company != null  and partner15Company != ''"> and partner15_company = #{partner15Company}</if>
            <if test="partner15Equity != null  and partner15Equity != ''"> and partner15_equity = #{partner15Equity}</if>
            <if test="partner16Company != null  and partner16Company != ''"> and partner16_company = #{partner16Company}</if>
            <if test="partner16Equity != null  and partner16Equity != ''"> and partner16_equity = #{partner16Equity}</if>
            <if test="partner17Company != null  and partner17Company != ''"> and partner17_company = #{partner17Company}</if>
            <if test="partner17Equity != null  and partner17Equity != ''"> and partner17_equity = #{partner17Equity}</if>
            <if test="partner18Company != null  and partner18Company != ''"> and partner18_company = #{partner18Company}</if>
            <if test="partner18Equity != null  and partner18Equity != ''"> and partner18_equity = #{partner18Equity}</if>
            <if test="partner19Company != null  and partner19Company != ''"> and partner19_company = #{partner19Company}</if>
            <if test="partner19Equity != null  and partner19Equity != ''"> and partner19_equity = #{partner19Equity}</if>
            <if test="partner20Company != null  and partner20Company != ''"> and partner20_company = #{partner20Company}</if>
            <if test="partner20Equity != null  and partner20Equity != ''"> and partner20_equity = #{partner20Equity}</if>
            <if test="delUser != null  and delUser != ''"> and del_user = #{delUser}</if>
            <if test="delTime != null "> and del_time = #{delTime}</if>
        </where>
    </select>

    <select id="getBlockId" parameterType="com.oo.datamanagement.api.domain.DcMdProject" resultMap="DcMdProjectResult">
       select id,name from dc_md_project where name = #{blockName}
    </select>

    <delete id="deleteItemsByIds">
        delete from dc_report_project_equity where project_id = #{ids}
    </delete>
</mapper>