<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.reportforms.mapper.DcReportBudgetTrackMapper">
    
    <resultMap type="com.oo.reportforms.domain.DcReportBudgetTrack" id="DcReportBudgetTrackResult">
        <result property="id" column="id"/>
        <result property="month" column="month"/>
        <result property="target" column="target"/>
        <result property="title" column="title"/>
        <result property="year" column="year"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
    </resultMap>

    <sql id="selectDcReportBudgetTrackVo">
        select id, month, target, title, year, create_by, create_time, update_by, update_time, remark, del_flag, del_user, del_time from dc_report_budget_track
    </sql>

    <select id="selectDcReportBudgetTrackList" parameterType="com.oo.reportforms.domain.DcReportBudgetTrack" resultMap="DcReportBudgetTrackResult">
        <include refid="selectDcReportBudgetTrackVo"/>
        <where>  
            <if test="month != null  and month != ''"> and month = #{month}</if>
            <if test="target != null  and target != ''"> and target = #{target}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="year != null  and year != ''"> and year = #{year}</if>
            <if test="delUser != null  and delUser != ''"> and del_user = #{delUser}</if>
            <if test="delTime != null "> and del_time = #{delTime}</if>
        </where>
    </select>
    
</mapper>