<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.reportforms.mapper.DcReportRiskCheckNcrMapper">

    <resultMap type="com.oo.reportforms.domain.DcReportRiskCheckNcr" id="DcReportRiskCheckNcrResult">
        <result property="id" column="id"/>
        <result property="wellControlInspection" column="well_control_inspection"/>
        <result property="resourceType" column="resource_type"/>
        <result property="facilities" column="facilities"/>
        <result property="wellId" column="well_id"/>
        <result property="riskCriticalityRanking" column="risk_criticality_ranking"/>
        <result property="registeringDate" column="registering_date"/>
        <result property="ncDescription" column="nc_description"/>
        <result property="ncCorrectiveAction" column="nc_corrective_action"/>
        <result property="requiredCloseTime" column="required_close_time"/>
        <result property="actrualCloseTime" column="actrual_close_time"/>
        <result property="ncStatus" column="nc_status"/>
        <result property="reasonsForOpenItems" column="reasons_for_open_items"/>
        <result property="riskControlMeasures" column="risk_control_measures"/>
        <result property="planCloseTime" column="plan_close_time"/>
        <result property="responsiblePerson" column="responsible_person"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
    </resultMap>

    <resultMap type="com.oo.reportforms.domain.vo.DcReportRiskCheckNcrVo" id="DcReportRiskCheckNcrVoResult">
        <result property="id" column="id"/>
        <result property="wellControlInspection" column="well_control_inspection"/>
        <result property="resourceType" column="resource_type"/>
        <result property="facilities" column="facilities"/>
        <result property="wellId" column="well_id"/>
        <result property="riskCriticalityRanking" column="risk_criticality_ranking"/>
        <result property="registeringDate" column="registering_date"/>
        <result property="ncDescription" column="nc_description"/>
        <result property="ncCorrectiveAction" column="nc_corrective_action"/>
        <result property="requiredCloseTime" column="required_close_time"/>
        <result property="actrualCloseTime" column="actrual_close_time"/>
        <result property="ncStatus" column="nc_status"/>
        <result property="reasonsForOpenItems" column="reasons_for_open_items"/>
        <result property="riskControlMeasures" column="risk_control_measures"/>
        <result property="planCloseTime" column="plan_close_time"/>
        <result property="responsiblePerson" column="responsible_person"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
        <result property="wellName" column="wellname"/>
    </resultMap>

    <resultMap type="com.oo.system.api.vo.DcMdWellVo" id="DcMdWellVoResult">
        <result property="id" column="id"/>
        <result property="name" column="well_control_inspection"/>
        <result property="nameDetail" column="resource_type"/>
        <result property="parentId" column="facilities"/>
        <result property="type" column="well_id"/>
        <result property="orderNum" column="risk_criticality_ranking"/>
        <result property="longitude" column="registering_date"/>
        <result property="latitude" column="nc_description"/>
        <result property="geomWkt" column="nc_corrective_action"/>
        <result property="geomType" column="required_close_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="projectname"/>
        <result property="wellId" column="wellid"/>
        <result property="wellName" column="wellname"/>
    </resultMap>

    <resultMap type="com.oo.system.api.vo.DcMdWellVo" id="ResultWellId">
        <result property="wellName" column="wellname"/>
    </resultMap>

    <resultMap type="com.oo.system.api.domain.SysDictData" id="ResultDicData">
        <result property="dictLabel" column="dict_label"/>
        <result property="dictValue" column="dict_value"/>
    </resultMap>

    <sql id="selectDcReportRiskCheckNcrVo">
        select id, well_control_inspection, resource_type, facilities, well_id, risk_criticality_ranking, registering_date, nc_description, nc_corrective_action, required_close_time, actrual_close_time, nc_status, reasons_for_open_items, risk_control_measures, plan_close_time, responsible_person, create_by, create_time, update_by, update_time, remark, del_flag, del_user, del_time from dc_report_risk_check_ncr
    </sql>

    <select id="selectList" parameterType="com.oo.reportforms.domain.vo.DcReportRiskCheckNcrVo" resultMap="DcReportRiskCheckNcrVoResult">
        select a.id, a.well_control_inspection, a.resource_type, a.facilities, a.well_id, a.risk_criticality_ranking, a.registering_date,
        a.nc_description, a.nc_corrective_action, a.required_close_time, a.actrual_close_time, a.nc_status, a.reasons_for_open_items,
        a.risk_control_measures, a.plan_close_time, a.responsible_person, a.create_by, a.create_time, a.update_by, a.update_time, a.remark, a.del_flag, a.del_user, a.del_time,
        b.wellname
--         ,c.dict_label as resourceTypeName,
--         d.dict_label as facilitiesName,
--         e.dict_label as riskCriticalityRankingName,
--         f.dict_label as ncStatusName
        from dc_report_risk_check_ncr a
        left join dc_md_well b on a.well_id = b.id
--         left join (select dict_label,dict_value from `gjgs-dc-cloud`.sys_dict_data where dict_type='resource_type') c on a.resource_type = c.dict_value
--         left join (select dict_label,dict_value from `gjgs-dc-cloud`.sys_dict_data where dict_type='check_facilities') d on a.facilities = d.dict_value
--         left join (select dict_label,dict_value from `gjgs-dc-cloud`.sys_dict_data where dict_type='risk_criticality_ranking') e on a.risk_criticality_ranking = e.dict_value
--         left join (select dict_label,dict_value from `gjgs-dc-cloud`.sys_dict_data where dict_type='nc_status') f on a.nc_status = f.dict_value
        <where>
            a.del_flag = '0'
            <if test="wellId != null  and wellId != ''">
                AND b.id = #{wellId}
            </if>
            <if test="beginTime != null">
                AND date_format(a.registering_date,'%y%m%d') >= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null">
                AND date_format(a.registering_date,'%y%m%d') &lt;=  date_format(#{endTime},'%y%m%d')
            </if>
            <if test="ncStatus != null">
                AND a.nc_status = #{ncStatus}
            </if>
        </where>
    </select>

    <select id="getWellName" parameterType="com.oo.system.api.vo.DcMdWellVo" resultMap="DcMdWellVoResult">
        select a.id as organization_id,a.`name`,a.parent_id as organization_parentid,a.order_num,a.type,b.id as project_id,
               b.name as projectname,b.parent_id as project_parentid,c.id as wellid,c.wellname from dc_md_organization a
               left join dc_md_project b on a.id = b.organization_id
               left join dc_md_well c on b.id = c.project_id order by a.order_num ,a.type
    </select>

<!--    <select id="selectDcReportRiskCheckNcrList" parameterType="com.oo.reportforms.domain.vo.DcReportRiskCheckNcrVo" resultMap="DcReportRiskCheckNcrVoResult">
        <include refid="selectDcReportRiskCheckNcrVo"/>
        <where>
            <if test="wellControlInspection != null  and wellControlInspection != ''"> and well_control_inspection = #{wellControlInspection}</if>
            <if test="resourceType != null "> and resource_type = #{resourceType}</if>
            <if test="facilities != null "> and facilities = #{facilities}</if>
            <if test="wellId != null  and wellId != ''"> and well_id = #{wellId}</if>
            <if test="riskCriticalityRanking != null "> and risk_criticality_ranking = #{riskCriticalityRanking}</if>
            <if test="registeringDate != null "> and registering_date = #{registeringDate}</if>
            <if test="ncDescription != null  and ncDescription != ''"> and nc_description = #{ncDescription}</if>
            <if test="ncCorrectiveAction != null  and ncCorrectiveAction != ''"> and nc_corrective_action = #{ncCorrectiveAction}</if>
            <if test="requiredCloseTime != null "> and required_close_time = #{requiredCloseTime}</if>
            <if test="actrualCloseTime != null "> and actrual_close_time = #{actrualCloseTime}</if>
            <if test="ncStatus != null "> and nc_status = #{ncStatus}</if>
            <if test="reasonsForOpenItems != null  and reasonsForOpenItems != ''"> and reasons_for_open_items = #{reasonsForOpenItems}</if>
            <if test="riskControlMeasures != null  and riskControlMeasures != ''"> and risk_control_measures = #{riskControlMeasures}</if>
            <if test="planCloseTime != null "> and plan_close_time = #{planCloseTime}</if>
            <if test="responsiblePerson != null  and responsiblePerson != ''"> and responsible_person = #{responsiblePerson}</if>
        </where>
    </select>-->
    <select id="selectDcReportRiskCheckNcrList" parameterType="com.oo.reportforms.domain.vo.DcReportRiskCheckNcrVo" resultMap="DcReportRiskCheckNcrVoResult">
        <include refid="selectDcReportRiskCheckNcrVo"/>
    </select>

    <delete id="deleteItemsByIds">
        delete from dc_report_risk_check_ncr where id in
        <foreach item="ids" collection="array" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

    <select id="getWellId" parameterType="com.oo.system.api.vo.DcMdWellVo" resultMap="ResultWellId">
        select a.id as organization_id,a.`name`,a.parent_id as organization_parentid,a.order_num,a.type,b.id as project_id,
        b.name as projectname,b.parent_id as project_parentid,c.id as wellid,c.wellname from dc_md_organization a
        left join dc_md_project b on a.id = b.organization_id
        left join dc_md_well c on b.id = c.project_id
        where c.wellname = #{wellName}
        order by a.order_num ,a.type
    </select>

    <select id="getDicData" parameterType="com.oo.system.api.domain.SysDictData" resultMap="ResultDicData">
        select dict_label,dict_value from `gjgs-dc-cloud`.sys_dict_data
    </select>
</mapper>
