<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.reportforms.mapper.DcReportBudgetExeInfillMapper">
    
    <resultMap type="com.oo.reportforms.domain.DcReportBudgetExeInfill" id="DcReportBudgetExeInfillResult">
        <result property="id" column="id"/>
        <result property="bu" column="bu"/>
        <result property="code" column="code"/>
        <result property="organizationId" column="organization_id"/>
        <result property="workingInterest" column="working_interest"/>
        <result property="wellCountPlanD" column="well_count_plan_d"/>
        <result property="wellCountPlanC" column="well_count_plan_c"/>
        <result property="budgePlanDc" column="budge_plan_dc"/>
        <result property="wellCountCostD" column="well_count_cost_d"/>
        <result property="wellCountCostC" column="well_count_cost_c"/>
        <result property="budgeCostDc" column="budge_cost_dc"/>
        <result property="wellCountPlanedD" column="well_count_planed_d"/>
        <result property="wellCountPlanedC" column="well_count_planed_c"/>
        <result property="budgePlanedDc" column="budge_planed_dc"/>
        <result property="wellCountAccumulatedD" column="well_count_accumulated_d"/>
        <result property="wellCountAccumulatedC" column="well_count_accumulated_c"/>
        <result property="budgeAccumulatedDc" column="budge_accumulated_dc"/>
        <result property="budgeAccumulatedRate" column="budge_accumulated_rate"/>
        <result property="wellCountForecastingD" column="well_count_forecasting_d"/>
        <result property="wellCountForecastingC" column="well_count_forecasting_c"/>
        <result property="budgeForecastingDc" column="budge_forecasting_dc"/>
        <result property="budgeForecastingRate" column="budge_forecasting_rate"/>
        <result property="year" column="year"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
    </resultMap>

    <sql id="selectDcReportBudgetExeInfillVo">
        select id, bu, code, organization_id, working_interest, well_count_plan_d, well_count_plan_c, budge_plan_dc, well_count_cost_d, well_count_cost_c, budge_cost_dc, well_count_planed_d, well_count_planed_c, budge_planed_dc, well_count_accumulated_d, well_count_accumulated_c, budge_accumulated_dc, budge_accumulated_rate, well_count_forecasting_d, well_count_forecasting_c, budge_forecasting_dc, budge_forecasting_rate, year, create_by, create_time, update_by, update_time, remark, del_flag, del_user, del_time from dc_report_budget_exe_infill
    </sql>

    <select id="selectDcReportBudgetExeInfillList" parameterType="com.oo.reportforms.domain.DcReportBudgetExeInfill" resultMap="DcReportBudgetExeInfillResult">
        <include refid="selectDcReportBudgetExeInfillVo"/>
        <where>  
            <if test="bu != null  and bu != ''"> and bu = #{bu}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="organizationId != null  and organizationId != ''"> and organization_id = #{organizationId}</if>
            <if test="workingInterest != null "> and working_interest = #{workingInterest}</if>
            <if test="wellCountPlanD != null "> and well_count_plan_d = #{wellCountPlanD}</if>
            <if test="wellCountPlanC != null "> and well_count_plan_c = #{wellCountPlanC}</if>
            <if test="budgePlanDc != null "> and budge_plan_dc = #{budgePlanDc}</if>
            <if test="wellCountCostD != null "> and well_count_cost_d = #{wellCountCostD}</if>
            <if test="wellCountCostC != null "> and well_count_cost_c = #{wellCountCostC}</if>
            <if test="budgeCostDc != null "> and budge_cost_dc = #{budgeCostDc}</if>
            <if test="wellCountPlanedD != null "> and well_count_planed_d = #{wellCountPlanedD}</if>
            <if test="wellCountPlanedC != null "> and well_count_planed_c = #{wellCountPlanedC}</if>
            <if test="budgePlanedDc != null "> and budge_planed_dc = #{budgePlanedDc}</if>
            <if test="wellCountAccumulatedD != null "> and well_count_accumulated_d = #{wellCountAccumulatedD}</if>
            <if test="wellCountAccumulatedC != null "> and well_count_accumulated_c = #{wellCountAccumulatedC}</if>
            <if test="budgeAccumulatedDc != null "> and budge_accumulated_dc = #{budgeAccumulatedDc}</if>
            <if test="budgeAccumulatedRate != null "> and budge_accumulated_rate = #{budgeAccumulatedRate}</if>
            <if test="wellCountForecastingD != null "> and well_count_forecasting_d = #{wellCountForecastingD}</if>
            <if test="wellCountForecastingC != null "> and well_count_forecasting_c = #{wellCountForecastingC}</if>
            <if test="budgeForecastingDc != null "> and budge_forecasting_dc = #{budgeForecastingDc}</if>
            <if test="budgeForecastingRate != null "> and budge_forecasting_rate = #{budgeForecastingRate}</if>
            <if test="year != null  and year != ''"> and year = #{year}</if>
            <if test="delUser != null  and delUser != ''"> and del_user = #{delUser}</if>
            <if test="delTime != null "> and del_time = #{delTime}</if>
        </where>
    </select>
    
</mapper>