<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.reportforms.mapper.DcReportScientificCensorTotalMapper">

    <resultMap type="com.oo.reportforms.domain.DcReportScientificCensorTotal" id="DcReportScientificCensorTotalResult">
        <result property="id" column="id"/>
        <result property="date" column="date"/>
        <result property="address" column="address"/>
        <result property="participants" column="participants"/>
        <result property="lssuesMain" column="lssues_main"/>
        <result property="type" column="type"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
        <result property="deptName" column="dept_name"/>
    </resultMap>

    <sql id="selectDcReportScientificCensorTotalVo">
        select id, `date`, address, participants, lssues_main, type, create_by, create_time, update_by, update_time, remark, del_flag, del_user, del_time from dc_report_scientific_censor_total
    </sql>

    <select id="selectDcReportScientificCensorTotalList" parameterType="com.oo.reportforms.domain.DcReportScientificCensorTotal" resultMap="DcReportScientificCensorTotalResult">
        <include refid="selectDcReportScientificCensorTotalVo"/>
        <where>
            del_flag = '0'
            <if test="startDate != null "> and `date` &gt;= #{startDate}</if>
            <if test="endDate != null "> and `date` &lt;= #{endDate}</if>
            <if test="address != null  and address != ''"> and address like concat('%', #{address}, '%')</if>
            <if test="participants != null  and participants != ''"> and participants like concat('%', #{participants}, '%')</if>
            <if test="lssuesMain != null  and lssuesMain != ''"> and lssues_main like concat('%', #{lssuesMain}, '%')</if>
            <if test="type != null "> and `type` = #{type}</if>
        </where>
        order by create_time desc
    </select>
    <delete id="deleteItemsByIds">
        delete from dc_report_risk_check_ncr where id in
        <foreach item="ids" collection="array" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
</mapper>
