<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.reportforms.mapper.DcReportDrillCompStatsExplainMapper">

    <resultMap type="com.oo.reportforms.domain.DcReportDrillCompStatsExplain" id="DcReportDrillCompStatsExplainResult">
        <result property="id" column="id"/>
        <result property="metrics" column="metrics"/>
        <result property="project" column="project"/>
        <result property="description" column="description"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
    </resultMap>

    <sql id="selectDcReportDrillCompStatsExplainVo">
        select id, metrics, project, description, remark, create_by, create_time, update_by, update_time, del_flag, del_user, del_time from dc_report_drill_comp_stats_explain
    </sql>

    <select id="selectDcReportDrillCompStatsExplainList" parameterType="com.oo.reportforms.domain.DcReportDrillCompStatsExplain" resultMap="DcReportDrillCompStatsExplainResult">
        <include refid="selectDcReportDrillCompStatsExplainVo"/>
        <where>
            del_flag = '0'
            <if test="metrics != null  and metrics != ''"> and metrics = #{metrics}</if>
            <if test="project != null  and project != ''"> and project = #{project}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>
    <delete id="deleteItemsByIds">
        delete from dc_report_drill_comp_stats_explain where id in
        <foreach item="ids" collection="array" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
</mapper>
