<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.reportforms.mapper.DcReportOutputWellBugdetMapper">
    <resultMap id="deptResult" type="com.oo.reportforms.domain.DcReportOutputWellBudgetMonth">
        <result property="outputWellId"    column="output_well_id"     />
        <result property="value"  column="value"   />
        <result property="value"  column="value"   />
    </resultMap>
    <select id="selectDcReportOutputWellBugdetYear"  resultMap="deptResult">
        SELECT output_well_id,month,value FROM
    dc_report_output_well_budget_month
where output_well_id=#{output_well_id}
    </select>

    <update id="updateDelete" parameterType="String">
        update dc_report_output_well_bugdet
        set del_flag='2',del_time=NOW()
        where id in
        <foreach collection="array" item="Id" open="(" separator="," close=")">
            #{Id}
        </foreach>
    </update>

</mapper>