<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.reportforms.mapper.DcReportRollingBugdetNinemonMonthMapper">
    
    <resultMap type="com.oo.reportforms.domain.DcReportRollingBugdetNinemonMonth" id="DcReportRollingBugdetNinemonMonthResult">
        <result property="rollingBugdetId" column="rolling_bugdet_id"/>
        <result property="month" column="month"/>
        <result property="value" column="value"/>
    </resultMap>

    <sql id="selectDcReportRollingBugdetNinemonMonthVo">
        select rolling_bugdet_id, month, value from dc_report_rolling_bugdet_ninemon_month
    </sql>

    <select id="selectDcReportRollingBugdetNinemonMonthList" parameterType="com.oo.reportforms.domain.DcReportRollingBugdetNinemonMonth" resultMap="DcReportRollingBugdetNinemonMonthResult">
        <include refid="selectDcReportRollingBugdetNinemonMonthVo"/>
        <where>  
            <if test="value != null "> and value = #{value}</if>
        </where>
    </select>
    
</mapper>