<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.reportforms.mapper.DcRportWellCheckMapper">
    <resultMap type="com.oo.reportforms.domain.vo.DcAllWellVo" id="Result">
        <result property="id" column="id"/>
        <result property="wellname" column="wellname"/>
    </resultMap>
    <resultMap type="com.oo.reportforms.domain.vo.DcAllCountryVo" id="Result1">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <resultMap type="com.oo.reportforms.domain.vo.CountryByWellVo" id="Result2">
        <result property="countryId" column="countryId"/>
        <result property="countryName" column="countryName"/>
    </resultMap>

    <update id="updateDelete" parameterType="String">
        update dc_report_well_check
        set del_flag='2',del_time=NOW()
        where id in
        <foreach collection="array" item="Id" open="(" separator="," close=")">
            #{Id}
        </foreach>
    </update>


    <select id="selectAllWell" resultMap="Result">
        select id,wellname
        from dc_md_well
    </select>
    <select id="selectAllCountry" resultMap="Result1">
        select id,name
        from dc_md_organization
        where type=2
    </select>

    <select id="selectCountryByWell" resultMap="Result2">
        select companyid as countryId,companyname as countryName
        from dc_md_well a inner join project_view b on a.organization_id=b.pid
        where a.id=#{id}
    </select>

</mapper>
