<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.datamanagement.mapper.DcMdProjectMapper">

    <resultMap type="com.oo.datamanagement.api.domain.DcMdProject" id="DcMdProjectResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="nameDetail" column="name_detail"/>
        <result property="parentId" column="parent_id"/>
        <result property="type" column="type"/>
        <result property="organizationId" column="organization_id"/>
        <result property="orderNum" column="order_num"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="geomWkt" column="geom_wkt"/>
        <result property="geomType" column="geom_type"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <resultMap type="com.oo.common.core.web.domain.SysMenuWell" id="SysWdpQueryResult2">
        <result property="menuId"     column="id"      />
        <result property="menuName"     column="name"      />
        <result property="parentId"     column="parent_id"      />
        <result property="orderNum"     column="order_num"      />
        <result property="label_datail"     column="name_detail"      />
        <result property="longitude"     column="longitude"      />
        <result property="latitude"     column="latitude"      />
        <result property="create_time"     column="create_time"      />
        <result property="type"     column="type"      />
        <result property="organization_id"     column="organization_id"      />
    </resultMap>

    <sql id="selectDcMdProjectVo">
        select id, name, name_detail, parent_id, `type`, organization_id, order_num, longitude, latitude, geom_wkt, geom_type, create_by, create_time, update_by, update_time, remark from dc_md_project
    </sql>

    <select id="selectDcMdProjectList" parameterType="com.oo.datamanagement.api.domain.DcMdProject" resultMap="DcMdProjectResult">
        <include refid="selectDcMdProjectVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="nameDetail != null  and nameDetail != ''"> and name_detail = #{nameDetail}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="type != null "> and `type` = #{type}</if>
            <if test="organizationId != null  and organizationId != ''"> and organization_id = #{organizationId}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
            <if test="longitude != null "> and longitude = #{longitude}</if>
            <if test="latitude != null "> and latitude = #{latitude}</if>
            <if test="geomWkt != null  and geomWkt != ''"> and geom_wkt = #{geomWkt}</if>
            <if test="geomType != null "> and geom_type = #{geomType}</if>
        </where>
    </select>

    <select id="selectTreeList"  resultMap="SysWdpQueryResult2">
        select id,name,parent_id,order_num,name_detail,longitude,latitude,create_time,type,organization_id
        from `gjgs-dc`.dc_md_project
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null "> and type = #{type}</if>
        </where>
    </select>

<!--    <select id="selectScreenTreeList"  resultMap="SysWdpQueryResult2">
        select blockid as id,blockname as name,companyid as parent_id,order_num,blocknamedetail as name_detail,block_longitude as longitude,
        block_latitude as latitude,create_time,type,prod_date,companyid as organization_id from `gjgs-dc`.screen_block_view
        <where>
            <if test="beginTime != null">
                AND date_format(prod_date,'%y%m%d') >= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null">
                AND date_format(prod_date,'%y%m%d') &lt;=  date_format(#{endTime},'%y%m%d')
            </if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
        group by id
    </select>-->
    <select id="selectScreenTreeList"  resultMap="SysWdpQueryResult2">
        select c.parentid AS parent_id,c.id,c.type, case when c.blockname is null then c.companyname else c.blockname end as name from (
        SELECT
        0 AS `parentid`,
        `company_view`.`companyname` AS `companyname`,
        NULL AS `blockid`,
        NULL AS `blockname`,
        CONCAT(`company_view`.`pid`,'002') AS `id`,
        `company_view`.`type` AS `type`
        FROM
        `gjgs-dc`.`company_view`
        UNION
        SELECT
        CONCAT(`block_view`.`companyid`,'002') AS `parentid`,
        `block_view`.`companyname` AS `companyname`,
        `block_view`.`blockid` AS `blockid`,
        `block_view`.`blockname` AS `blockname`,
        CONCAT(`block_view`.`pid`,'003') AS `id`,
        `block_view`.`type` AS `type`
        FROM
        `gjgs-dc`.`block_view`
        UNION
        SELECT
        CONCAT(`block_wellarea_view`.`companyid`,'002') AS `parentid`,
        `block_wellarea_view`.`companyname` AS `companyname`,
        `block_wellarea_view`.`blockid` AS `blockid`,
        `block_wellarea_view`.`blockname` AS `blockname`,
        CONCAT(`block_wellarea_view`.`pid`,'004') AS `id`,
        `block_wellarea_view`.`type` AS `type`
        FROM
        `gjgs-dc`.`block_wellarea_view`
        ) c
        <where>
             AND c.type != 6
            <if test="beginTime != null">
                AND date_format(prod_date,'%y%m%d') >= date_format(#{beginTime},'%y%m%d')
            </if>
           <if test="endTime != null">
                AND date_format(prod_date,'%y%m%d') &lt;=  date_format(#{endTime},'%y%m%d')
           </if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>

    <select id="selectMaxId" resultType="Long">
		select MAX(id)  from dc_md_project
	</select>
</mapper>
