<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.datamanagement.mapper.DcMdOrganizationMapper">

    <resultMap type="com.oo.system.api.domain.DcMdOrganization" id="DcMdOrganizationResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="nameDetail" column="name_detail"/>
        <result property="parentId" column="parent_id"/>
        <result property="type" column="type"/>
        <result property="orderNum" column="order_num"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="geomWkt" column="geom_wkt"/>
        <result property="geomType" column="geom_type"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <resultMap type="com.oo.common.core.web.domain.SysMenuWell" id="SysWdpQueryResult2">
        <result property="menuId"     column="id"      />
        <result property="menuName"     column="name"      />
        <result property="parentId"     column="parent_id"      />
        <result property="orderNum"     column="order_num"      />
        <result property="label_datail"     column="name_detail"      />
        <result property="longitude"     column="longitude"      />
        <result property="latitude"     column="latitude"      />
        <result property="create_time"     column="create_time"      />
        <result property="if_focus"     column="if_focus"      />
        <result property="type"     column="type"      />
    </resultMap>

    <resultMap type="com.oo.datamanagement.domain.vo.MdProjectVo" id="DcProjectVoResult">
        <result property="companyId"     column="companyid"      />
        <result property="companyName"     column="companyname"      />
        <result property="projectId"     column="projectid"      />
        <result property="projectName"     column="projectname"      />
        <result property="wellId"     column="wellid"      />
        <result property="wellName"     column="wellname"      />
        <result property="chineseWellName"     column="chinesewellname"      />
        <result property="ifWork"     column="ifwork"      />
        <result property="iffocus"     column="if_focus"      />
        <result property="latitude"     column="project_latitude"      />
        <result property="longitude"     column="project_longitude"      />
        <result property="prodDate"     column="prod_date"      />
    </resultMap>

    <resultMap type="com.oo.datamanagement.domain.vo.MdProjectVo" id="DcBlockVoResult">
        <result property="companyId"     column="companyid"      />
        <result property="companyName"     column="companyname"      />
        <result property="blockId"     column="blockid"      />
        <result property="blockName"     column="blockname"      />
        <result property="wellId"     column="wellid"      />
        <result property="wellName"     column="wellname"      />
        <result property="chineseWellName"     column="chinesewellname"      />
        <result property="ifWork"     column="ifwork"      />
        <result property="iffocus"     column="if_focus"      />
        <result property="latitude"     column="block_latitude"      />
        <result property="longitude"     column="block_longitude"      />
        <result property="prodDate"     column="prod_date"      />
    </resultMap>

    <resultMap type="com.oo.datamanagement.domain.vo.MdNumProjectVo" id="DcProjectNumVoResult">
        <result property="companyId"     column="companyid"      />
        <result property="companyName"     column="companyname"      />
        <result property="companyLatitude"     column="company_latitude"      />
        <result property="companyLongitude"     column="company_longitude"      />
        <result property="iffocus"     column="if_focus"      />
        <result property="projectNum"     column="project_num"      />
        <result property="wellNum"     column="well_num"      />
    </resultMap>

    <resultMap type="com.oo.datamanagement.domain.vo.PkWellPurposeVo" id="Result">
        <result property="id"     column="id"      />
        <result property="name"     column="name"      />
    </resultMap>

    <sql id="selectDcMdOrganizationVo">
        select id, name, name_detail, parent_id, type, order_num, longitude, latitude, geom_wkt, geom_type, create_by, create_time, update_by, update_time, remark from `gjgs-dc`.dc_md_organization
    </sql>

    <select id="selectDcMdOrganizationList" parameterType="com.oo.system.api.domain.DcMdOrganization" resultMap="DcMdOrganizationResult">
        <include refid="selectDcMdOrganizationVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="nameDetail != null  and nameDetail != ''"> and name_detail = #{nameDetail}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
            <if test="longitude != null "> and longitude = #{longitude}</if>
            <if test="latitude != null "> and latitude = #{latitude}</if>
            <if test="geomWkt != null  and geomWkt != ''"> and geom_wkt = #{geomWkt}</if>
            <if test="geomType != null "> and geom_type = #{geomType}</if>
        </where>
    </select>

    <select id="selectTreeList"  resultMap="SysWdpQueryResult2">
        select a.id,a.name,a.parent_id,a.order_num,a.name_detail,a.longitude,a.latitude,a.create_time,b.dict_label as if_focus,a.type,a.remark
        from `gjgs-dc`.dc_md_organization a left join `gjgs-dc-cloud`.sys_dict_data b
        on a.if_focus=b.dict_value and b.dict_type='if_or_no'
        <where>
            <if test="name != null  and name != ''"> and a.name like concat('%', #{name}, '%')</if>
            <if test="type != null "> and a.type = #{type}</if>
        </where>
    </select>

    <select id="selectScreenTreeList"  resultMap="SysWdpQueryResult2">
        select a.id,a.name,a.parent_id,a.order_num,a.name_detail,a.longitude,a.latitude,a.create_time,a.if_focus,a.type,a.remark,b.prod_date
        from `gjgs-dc`.dc_md_organization a
        left join `gjgs-dc`.dc_md_well b on b.organization_id = a.id
        <where>
            <if test="beginTime != null">
                AND date_format(prod_date,'%y%m%d') >= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null">
                AND date_format(prod_date,'%y%m%d') &lt;=  date_format(#{endTime},'%y%m%d')
            </if>
            <if test="name != null  and name != ''"> and a.name like concat('%', #{name}, '%')</if>
        </where>
        group by id
    </select>

    <select id="selectProjectList"  resultMap="DcProjectVoResult">
        SELECT companyid,companyname,projectid,projectname,wellid,wellname,chinesewellname,ifWork,dict_label as if_focus,project_latitude,
        project_longitude,prod_date FROM `gjgs-dc`.screen_project_view a
        left join (select dict_label,dict_value from `gjgs-dc-cloud`.sys_dict_data where dict_type='if_focus') b on a.if_focus = b.dict_value
        <where>
            <if test="companyName != null  and companyName != ''"> and companyname = #{companyName}</if>
            <if test="beginTime != null">
                AND date_format(prod_date,'%y%m%d') >= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null">
                AND date_format(prod_date,'%y%m%d') &lt;=  date_format(#{endTime},'%y%m%d')
            </if>
        </where>
        order by companyname
    </select>

    <select id="selectProjectNum"  resultMap="DcProjectNumVoResult">
        SELECT DISTINCT companyid, companyname,company_latitude,company_longitude,dict_label as if_focus ,COUNT(DISTINCT projectname) as project_num,COUNT(DISTINCT wellid) as well_num FROM `gjgs-dc`.screen_project_view a
        left join (select dict_label,dict_value from `gjgs-dc-cloud`.sys_dict_data where dict_type='if_focus') b on a.if_focus = b.dict_value
        <where>
            <if test="companyName != null  and companyName != ''"> and companyname = #{companyName}</if>
            <if test="beginTime != null">
                AND date_format(prod_date,'%y%m%d') >= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null">
                AND date_format(prod_date,'%y%m%d') &lt;=  date_format(#{endTime},'%y%m%d')
            </if>
         </where>
        group by companyname  order by companyname
    </select>

    <select id="selectBlockList"  resultMap="DcBlockVoResult">
        SELECT companyid,companyname,blockid,blockname,wellid,wellname,chinesewellname,ifWork,dict_label as if_focus,block_latitude,
        block_longitude,prod_date FROM `gjgs-dc`.screen_block_view a
        left join (select dict_label,dict_value from `gjgs-dc-cloud`.sys_dict_data where dict_type='if_focus') b on a.if_focus = b.dict_value
        <where>
            <if test="companyName != null  and companyName != ''"> and companyname = #{companyName}</if>
            <if test="beginTime != null">
                AND date_format(prod_date,'%y%m%d') >= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null">
                AND date_format(prod_date,'%y%m%d') &lt;=  date_format(#{endTime},'%y%m%d')
            </if>
        </where>
        order by companyname
    </select>

    <select id="selectBlockNum"  resultMap="DcProjectNumVoResult">
        SELECT DISTINCT companyid, companyname,company_latitude,company_longitude,dict_label as if_focus,COUNT(DISTINCT blockname) as project_num,
        COUNT(DISTINCT wellid) as well_num FROM `gjgs-dc`.screen_block_view a
        left join (select dict_label,dict_value from `gjgs-dc-cloud`.sys_dict_data where dict_type='if_focus') b on a.if_focus = b.dict_value
        <where>
            <if test="companyName != null  and companyName != ''"> and companyname = #{companyName}</if>
            <if test="beginTime != null">
                AND date_format(prod_date,'%y%m%d') >= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null">
                AND date_format(prod_date,'%y%m%d') &lt;=  date_format(#{endTime},'%y%m%d')
            </if>
        </where>
        group by companyname  order by companyname
    </select>

    <select id="selectOrganizationProjectList"  resultMap="DcProjectVoResult">
        select * from `gjgs-dc`.project_view
        <where>
            <if test="companyId != null  and companyId != ''"> and companyid = #{companyId}</if>
        </where>
        order by companyname
    </select>

    <select id="selectOrganizationBlockList"  resultMap="DcBlockVoResult">
        select * from `gjgs-dc`.block_view
        <where>
            <if test="companyId != null  and companyId != ''"> and companyid = #{companyId}</if>
        </where>
        order by companyname
    </select>

    <select id="selectMaxId" resultType="Long">
		select MAX(id)  from `gjgs-dc`.dc_md_organization
	</select>

    <select id="selectAllCountry" parameterType="com.oo.datamanagement.domain.vo.PkWellPurposeVo" resultMap="Result">
        select id,name from `gjgs-dc`.dc_md_organization where type=2
    </select>
</mapper>
