<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.datamanagement.mapper.DcMdWellMapper">

    <resultMap type="com.oo.datamanagement.api.domain.DcMdWell" id="DcMdWellResult">
        <result property="id" column="id"/>
        <result property="wellname" column="wellname"/>
        <result property="chinesewellname" column="chinesewellname"/>
        <result property="organizationId" column="organization_id"/>
        <result property="projectId" column="project_id"/>
        <result property="ifwork" column="ifwork"/>
        <result property="welltype" column="welltype"/>
        <result property="wellsubtype" column="wellsubtype"/>
        <result property="usertxt6" column="usertxt6"/>
        <result property="type" column="type"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="prodDate" column="prod_date"/>
        <result property="orderNum" column="order_num"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>
    <resultMap type="com.oo.datamanagement.domain.vo.MdWellVo" id="DcMdWellResult2">
        <result property="id" column="id"/>
        <result property="wellname" column="wellname"/>
        <result property="chinesewellname" column="chinesewellname"/>
        <result property="organizationId" column="organization_id"/>
        <result property="projectId" column="project_id"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="prodDate" column="prod_date"/>
        <result property="orderNum" column="order_num"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>

        <result property="organizationName" column="organizationName"/>
        <result property="projectName" column="projectName"/>
        <result property="ifworkName" column="ifworkName"/>
        <result property="welltypeName" column="welltypeName"/>
        <result property="wellsubtypeName" column="wellsubtypeName"/>
        <result property="usertxt6Name" column="usertxt6Name"/>
        <result property="typeName" column="typeName"/>

        <result property="ifwork" column="ifworkName"/>
        <result property="welltype" column="welltypeName"/>
        <result property="wellsubtype" column="wellsubtypeName"/>
        <result property="usertxt6" column="usertxt6Name"/>
        <result property="type" column="typeName"/>

        <result property="ifworkId" column="ifworkId"/>
        <result property="welltypeId" column="welltypeId"/>
        <result property="wellsubtypeId" column="wellsubtypeId"/>
        <result property="usertxt6Id" column="usertxt6Id"/>
        <result property="typeId" column="typeId"/>

        <result property="companyId" column="companyId"/>
        <result property="companyName" column="companyName"/>
    </resultMap>

    <resultMap type="com.oo.datamanagement.domain.vo.PkWellPurposeVo" id="Result">
        <result property="id"     column="pk_code"      />
        <result property="name"     column="name"      />
    </resultMap>
    <resultMap type="com.oo.datamanagement.domain.vo.MdWellVo" id="SysWdpQueryResult3">
        <result property="companyId"     column="companyId"      />
        <result property="companyName"     column="companyName"      />
    </resultMap>

    <resultMap type="com.oo.common.core.web.domain.SysMenuWell" id="SysWdpQueryResult2">
        <result property="menuId"     column="id"      />
        <result property="menuName"     column="name"      />
        <result property="parentId"     column="parent_id"      />
        <result property="orderNum"     column="order_num"      />
        <result property="label_datail"     column="name_detail"      />
        <result property="longitude"     column="longitude"      />
        <result property="latitude"     column="latitude"      />
        <result property="create_time"     column="create_time"      />
        <result property="type"     column="type"      />
        <result property="organization_id"     column="organization_id"      />
    </resultMap>

    <sql id="selectDcMdWellVo">
        select id, wellname, chinesewellname, organization_id, project_id, ifwork, welltype, wellsubtype, usertxt6, `type`, longitude, latitude, prod_date, order_num, create_by, create_time, update_by, update_time, remark from dc_md_well
    </sql>

    <select id="selectDcMdWellList" parameterType="com.oo.datamanagement.api.domain.DcMdWell" resultMap="DcMdWellResult">
        <include refid="selectDcMdWellVo"/>
        <where>
            <if test="wellname != null  and wellname != ''"> and wellname like concat('%', #{wellname}, '%')</if>
            <if test="chinesewellname != null  and chinesewellname != ''"> and chinesewellname like concat('%', #{chinesewellname}, '%')</if>
            <if test="organizationId != null  and organizationId != ''"> and organization_id = #{organizationId}</if>
            <if test="projectId != null  and projectId != ''"> and project_id = #{projectId}</if>
            <if test="ifwork != null "> and ifwork = #{ifwork}</if>
            <if test="welltype != null  and welltype != ''"> and welltype = #{welltype}</if>
            <if test="wellsubtype != null  and wellsubtype != ''"> and wellsubtype = #{wellsubtype}</if>
            <if test="usertxt6 != null  and usertxt6 != ''"> and usertxt6 = #{usertxt6}</if>
            <if test="type != null  and type != ''"> and `type` = #{type}</if>
            <if test="longitude != null "> and longitude = #{longitude}</if>
            <if test="latitude != null "> and latitude = #{latitude}</if>
            <if test="prodDate != null "> and prod_date = #{prodDate}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
        </where>
    </select>

    <select id="selectWellType" resultMap="Result">
		select pk_code,name from dc_pk_well_type
	</select>

    <select id="selectPurpose" resultMap="Result">
		select pk_code,name from dc_pk_well_purpose
        <where>
            <if test="type != null "> and type = #{type}</if>
        </where>
	</select>


    <select id="selectCompany" resultMap="SysWdpQueryResult3">
		select companyid as companyId,companyname as companyName  from project_well_view WHERE
        pid = #{projectId} limit 1
    </select>


    <select id="select"  resultMap="DcMdWellResult2">
        select a.id, a.wellname, a.chinesewellname, a.organization_id, a.project_id, a.ifwork, a.welltype, a.wellsubtype, a.usertxt6, a.`type`,
        a.longitude, a.latitude, a.prod_date, a.order_num, a.create_by, a.create_time, a.update_by, a.update_time, a.remark,
        b.projectname as organizationName,
        h.name as projectName,
        c.dict_label as ifworkName,
        d.dict_label as welltypeName,
        e.dict_label as wellsubtypeName,
        f.dict_label as usertxt6Name,
        g.dict_label as typeName,

        a.ifwork as ifworkId,
        a.welltype as welltypeId,
        a.wellsubtype as wellsubtypeId,
        a.usertxt6 as usertxt6Id,
        a.type as typeId,

        b.companyid  as companyId,
        b.companyname as companyName
        from dc_md_well a left join  project_view b on a.organization_id=b.projectId
        left join dc_md_project h on a.project_id=h.id
        left join (select dict_label,dict_value from `gjgs-dc-cloud`.sys_dict_data where dict_type='if_or_no') c on a.ifwork = c.dict_value
        left join (select dict_label,dict_value from `gjgs-dc-cloud`.sys_dict_data where dict_type='well_type') d on a.welltype = d.dict_value
        left join (select dict_label,dict_value from `gjgs-dc-cloud`.sys_dict_data where dict_type='wellsubtype') e on a.wellsubtype = e.dict_value
        left join (select dict_label,dict_value from `gjgs-dc-cloud`.sys_dict_data where dict_type='usertxt6') f on a.usertxt6 = f.dict_value
        left join (select dict_label,dict_value from `gjgs-dc-cloud`.sys_dict_data where dict_type='dc_pk_well_type') g on a.type = g.dict_value
        <where>
            1=1
            <if test="wellId != null  and wellId != ''"> and a.id = #{wellId}</if>
            <if test="projectId != null  and projectId != ''"> and a.organization_id = #{projectId} or b.companyId = #{projectId}</if>
            <!-- <if test="type=='2'"> and b.type = #{type}</if>-->
         </where>
    </select>

 <!--   <select id="selectScreenTreeList"  resultMap="SysWdpQueryResult2">
        select wellid as id,wellname as name,projectid as parent_id,chinesewellname as name_detail,
        company_longitude as longitude,company_latitude as latitude,create_time,type,companyid as organization_id,prod_date
        from `gjgs-dc`.screen_project_view
        <where>
            <if test="beginTime != null">
                AND date_format(prod_date,'%y%m%d') >= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null">
                AND date_format(prod_date,'%y%m%d') &lt;=  date_format(#{endTime},'%y%m%d')
            </if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>-->
    <select id="selectScreenTreeList"  resultMap="SysWdpQueryResult2">
        select * from (select id, name ,parent_id, null prod_date,type  from `gjgs-dc`.dc_md_organization   union
        select id, wellname as name ,organization_id as parent_id,prod_date,null from `gjgs-dc`.dc_md_well ) wellInfo order by parent_id
        <where>
            <if test="beginTime != null">
                AND date_format(prod_date,'%y%m%d') >= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null">
                AND date_format(prod_date,'%y%m%d') &lt;=  date_format(#{endTime},'%y%m%d')
            </if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>

</mapper>
