<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.szgt.contract.offeree.mapper.FfOffereeinfoMapper">
    <!--异常终结情况-->
    <select id="selectUnusualPerform" resultType="com.pcitc.szgt.contract.offeree.model.OffereeContractVo">
        select a.contractId,a.contractName,a.ruleserialNum,b.CreatedBy as createUserId,b.CreatedDate as createDate,
        b.OffereePerformRemark as offereePerformRemark
        from cr_contractbasic   a
        inner join cr_contractend b on a.contractId=b.contractId
        inner join cr_contractofferee c on a.contractId=c.contractId
        inner join ff_offereeinfo d on c.offereeId=d.offereeId
       ${ew.customSqlSegment}

    </select>
    <!--发案情况-->
    <select id="selectCase" resultType="com.pcitc.szgt.contract.offeree.model.OffereeContractVo">
        select a.contractId,a.contractName,a.ruleserialNum  from cr_contractbasic   a
        inner join cr_contractcase b on a.contractId=b.contractId
        inner join cr_contractofferee c on a.contractId=c.contractId
        inner join ff_offereeinfo d on c.offereeId=d.offereeId
       ${ew.customSqlSegment}
    </select>
</mapper>
